{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Registra a tu mascota
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col m12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <h5 class="left">
                                    Edita tu mascota
                                </h5>
                                <form action="{% url 'mascotas_app:eliminar_mascota' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ id_mascota }}" name="id_mascota">
                                    <a data-target="modal-confirmar-eliminar"
                                       class="btn red right m-t-sm modal-trigger">
                                        <i class="material-icons left">delete</i>Eliminar
                                    </a>
                                    <div id="modal-confirmar-eliminar" class="modal">
                                        <div class="modal-content">
                                            <h4>¿Seguro que deseas eliminar el perfil de ésta mascota?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit"
                                                    class=" modal-action modal-close waves-effect waves-light btn red">
                                                Aceptar
                                            </button>
                                            <a href="javascript:void(0);"
                                               class=" modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col s12">
                                <form action="{% url 'mascotas_app:editar_mascota' %}?pet={{ id_mascota }}"
                                      method="POST"
                                      id="form_mascota"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.dueño }}
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                {{ form.nombre }}
                                                {{ form.nombre.label_tag }}
                                            </div>
                                            {% for error in form.nombre.errors %}
                                                <label class="perror">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                {{ form.fecha_nacimiento }}
                                                {{ form.fecha_nacimiento.label_tag }}
                                            </div>
                                            {% for error in form.fecha_nacimiento.errors %}
                                                <label class="perror">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                {{ form.especie }}
                                                {{ form.especie.label_tag }}
                                            </div>
                                            {% for error in form.especie.errors %}
                                                <label class="perror">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                {{ form.raza }}
                                                {{ form.raza.label_tag }}
                                            </div>
                                            {% for error in form.raza.errors %}
                                                <label class="perror">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                {{ form.sexo }}
                                                {{ form.sexo.label_tag }}
                                            </div>
                                            {% for error in form.sexo.errors %}
                                                <label class="perror">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="col s12 m6 file-field ">
                                            <div class="input-field">
                                                <div class="btn waves-effect waves-light accent">
                                                    <span>{{ form.imagen.label }}</span>
                                                    {{ form.imagen }}
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text" id="imagen_text"
                                                           placeholder="Actualmente: {{ form.imagen.value }}">
                                                </div>
                                            </div>
                                            {% for error in form.imagen.errors %}
                                                <label class="perror">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m6 input-field">
                                            <div style="margin-right: 5px;">
                                                {{ form.esterilizado }}
                                                {{ form.esterilizado.label_tag }}
                                            </div>
                                            <div style="margin-right: 5px;">
                                                {{ form.desparasitado }}
                                                {{ form.desparasitado.label_tag }}
                                            </div>
                                            {{ form.castrado }}
                                            {{ form.castrado.label_tag }}
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                {{ form.observaciones_medicas }}
                                                {{ form.observaciones_medicas.label_tag }}
                                            </div>
                                            {% for error in form.observaciones_medicas.errors %}
                                                <label class="perror">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                {{ form.caracteristicas }}
                                                {{ form.caracteristicas.label_tag }}
                                            </div>
                                            {% for error in form.caracteristicas.errors %}
                                                <label class="perror">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                {{ form.vacunas }}
                                                {{ form.vacunas.label_tag }}
                                            </div>
                                            {% for error in form.vacunas.errors %}
                                                <label class="perror">{{ error }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <button class="btn right">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'base/js/clockpicker/materialize.clockpicker.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/es_ES.js' %}"></script>
    <script>
        var $form = $("#form_mascota");
        $(document).ready(function () {
            Materialize.updateTextFields();
        });
        $('input.datepicker').each(function () {
            $(this).pickadate({
                firstDay: 0,
                formatSubmit: 'yyyy-mm-dd',
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
        });
        $form.validate({
            name: "required",
            nombre: {
                minlength: 6
            },
            imagen: {
                required: false
            },
            errorPlacement: function (error, element) {
                error.addClass('perror').insertAfter($(element).closest('.input-field'));
                Materialize.updateTextFields();
            }
        });
        $form.on('submit', function () {
            $('input[name="fecha_nacimiento"]').val($('input[name="fecha_nacimiento_submit"]').val());
        });

    </script>
{% endblock %}