{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Tus mascotas
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col s12">

                <div class="row">
                    {% if not mascotas %}
                        <div class="col s12 hide-on-small-only">
                            <h5>
                                Aún no tienes mascotas registradas
                            </h5>
                            <h6>
                                <a class="hide-on-small-only" href="{% url 'mascotas_app:registrar_mascota' %}">
                                    <i class="material-icons">add</i> Registrar mascota
                                </a>
                            </h6>
                        </div>
                    {% else %}
                        <h5>Tus mascotas</h5>
                        <h6>
                            <a class="hide-on-small-only" href="{% url 'mascotas_app:registrar_mascota' %}">
                                <i class="material-icons">add</i> Registrar mascota
                            </a>
                        </h6>
                        {% for mascota in mascotas %}
                            <div class="div-mascota col s12 m6 l4">
                                <div class="card transparent no-shadow">
                                    <div class="card-content">
                                        <div class="imagen-mascota avatar center-block border p-md"
                                             id="imagen-mascota{{ mascota.id }}">
                                            <style>
                                                #imagen-mascota{{ mascota.id }} {
                                                    background: url({{ mascota.get_image_url }}) center center;
                                                }
                                            </style>
                                        </div>
                                        <div class="info-mascota center-align">
                                            <h5>{{ mascota.nombre }}</h5>
                                        </div>
                                        <div class="actions-mascota center-align">
                                            <a href="{% url 'mascotas_app:editar_mascota' %}?pet={{ mascota.id }}"><i
                                                    class="material-icons">mode_edit</i>Editar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="col s12 m4 l3 center-align hide-on-med-and-up">
                        <div class="card-content">
                            <a href="{% url 'mascotas_app:registrar_mascota' %}">
                                <h1 class="accent-text">
                                    <i class="material-icons">add</i>
                                </h1>
                                <h5>Registrar mascota</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}