{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- SEO -->
    <meta http-equiv="Content-Language" content="es">
    <link rel="canonical" href="https://www.mipetdate.com/">
    <link rel="alternate" href="https://www.mipetdate.com/">
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow"/>
    <meta name="application-name" content="miPetdate"/>
    <meta name="msapplication-tooltip" content="miPetdate"/>
    <meta name="country" content="MX"/>
    <meta name="author" content="miPetdate"/>

    <meta name="google-signin-client_id"
          content="418879217389-v6gdndbn7uirtv0dnpiltbpi6u750s89.apps.googleusercontent.com">

    <meta itemprop="name" content="miPetdate">

    <meta name="summary"
          content="Somos una plataforma digital que permite a sus usuarios encontrar y reservar citas con los mejores
                    especialistas en el cuidado animal; buscamos mejorar la atención y asistencia en las mascotas."/>
    <meta name="description"
          content="Somos una plataforma digital que permite a sus usuarios encontrar y reservar citas con los mejores
                    especialistas en el cuidado animal; buscamos mejorar la atención y asistencia en las mascotas."/>

    <meta itemprop="description"
          content="Somos una plataforma digital que permite a sus usuarios encontrar y reservar citas con los mejores
                    especialistas en el cuidado animal; buscamos mejorar la atención y asistencia en las mascotas."/>

    {% include 'base/favicons.html' %}

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Damion|Open+Sans:300,400,600,700,800" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Lato:100,300,400,700,900"
          rel="stylesheet">

    <!-- Base CSS -->
    <!--<link rel="stylesheet" href="{% static 'base/css/materialize.min.css' %}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">


    <!-- thidr-party CSS & JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://use.fontawesome.com/0d45a8f333.js"></script>

    <!-- user CSS -->
    <link rel="stylesheet" href="{% static 'base/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/color-palette.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-social.css' %}">

    {% block styles %}

    {% endblock %}

    <title>miPetdate: {% block title %}{% endblock %}</title>
</head>
<body>
<script src="{% static 'base/js/facebook.js' %}"></script>
<nav class="primary" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'base_app:home' %}" class="brand-logo special-font">
            <div class="inline">
                <img src="{% static 'base/favicon/android-icon-192x192.png' %}" alt="logo" id="logo">
            </div>
            <span class="inline">miPetdate</span>
        </a>
        <ul class="right hide-on-med-and-down">

            {% if user.is_authenticated %}
                <li>
                    <a class="dropdown-button" data-beloworigin="true" href="javascript:void(0)"
                       data-activates="dropdown-user" style="min-width: 200px;">
                        <div class="row">
                            <div class="col s10">
                                <b>¡Hola {{ user.get_short_name }}!</b>
                            </div>
                            <div class="col s2">
                                <div class="imagen-usuario avatar center-block border p-md"
                                     id="imagen-usuario{{ user.id }}">
                                    <style>
                                        #imagen-usuario{{ user.id }} {
                                            background: url({{ user.get_image_url }}) center center;
                                            position: relative;
                                            top: 0.8em;
                                            right: 1em;
                                            width: 2.5em;
                                            height: 2.5em;
                                            border: 2px solid #eee !important;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <ul id="dropdown-user" class="dropdown-content">
                    <li>
                        <a href="{% url 'usuarios_app:perfil_usuario' %}">Mi perfil</a>
                    </li>
                    <li class="divider"></li>
                    {% if user.tiene_negocios %}
                        <li>
                            <a href="{% url 'negocios_app:negocios_usuario' %}">Mis negocios</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'mascotas_app:mascotas_usuario' %}">Mis mascotas</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'usuarios_app:logout' %}">Cerrar sesión</a></li>
                </ul>
            {% else %}
                <li>
                    <a href="{% url 'usuarios_app:login' %}">Iniciar sesión</a>
                </li>
            {% endif %}
            {% if not user.tiene_negocios %}
                <li>
                    <a href="{% url 'usuarios_app:beneficios' %}">Registrar negocio</a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'negocios_app:buscar_negocios' %}"><i class="material-icons">search</i></a>
            </li>
            <li>
                <a href="{% url 'base_app:FAQ' %}"><i class="material-icons">help</i></a>
            </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            {% if not user.tiene_negocios %}
                <li>
                    <a href="{% url 'usuarios_app:beneficios' %}"
                       class="">Registrar negocio</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li>
                    <a class="truncate" href="javascript:void(0)">
                        <div class="row">
                            <div class="col s10">
                                <b style="top: 0.3em; position: relative;">¡Hola {{ user.get_short_name }}!</b>
                            </div>
                            <div class="col s2">
                                <div class="imagen-usuario avatar center-block border p-md"
                                     id="imagen-usuario{{ user.id }}">
                                    <style>
                                        #imagen-usuario{{ user.id }} {
                                            background: url({{ user.get_image_url }}) center center;
                                            position: relative;
                                            top: 0.8em;
                                            width: 2.5em;
                                            height: 2.5em;
                                            border: 2px solid #eee !important;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{% url 'usuarios_app:perfil_usuario' %}">Mi perfil</a>
                </li>
                {% if user.tiene_negocios %}
                    <li>
                        <a href="{% url 'negocios_app:negocios_usuario' %}">Mis negocios</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'mascotas_app:mascotas_usuario' %}">Mis mascotas</a>
                </li>
                <li><a href="{% url 'usuarios_app:logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'usuarios_app:login' %}">Inicia sesión</a></li>
            {% endif %}

            <li class="divider"></li>
            <li>
                <a href="{% url 'negocios_app:buscar_negocios' %}"><i class="material-icons left">search</i>Buscar
                    negocios</a>
            </li>
        </ul>
        <a href="javascript:void(0);" data-activates="nav-mobile" class="button-collapse"><i
                class="material-icons">menu</i></a>
    </div>
</nav>

<div style="min-height: 100vh !important;">
    {% block content %}

    {% endblock %}
</div>

<footer class="page-footer primary m-t-none white-text shadow-up">
    <div class="container">
        <div class="row m-b-none section">
            <div class="col s12 m4 l4">
                <h6 class="bold">
                    SOBRE miPetdate:
                </h6>
                <p class="" style="text-align: justify;">
                    Somos una plataforma digital que permite a sus usuarios encontrar y reservar citas con los mejores
                    especialistas en el cuidado animal; buscamos mejorar la atención y asistencia en las mascotas.
                </p>
            </div>
            <div class="col s12 m4 offset-m1 l3 offset-l1">
                <h6 class="font-300 bold">
                    SITIOS FRECUENTES:
                </h6>
                <ul>
                    <li>
                        <a class="" href="{% url 'negocios_app:registrar_negocio' %}">Registra tu
                            negocio</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'usuarios_app:beneficios' %}">Beneficios</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'base_app:FAQ' %}">Preguntas frecuentes</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'base_app:condiciones_de_uso' %}">Condiciones de
                            uso</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m3 l4 m-t-xs">
                <div class="">
                    <div class="row row-centered">
                        <div class="col s2 col-centered center-align">
                            <a href="https://www.facebook.com/mipetdate" target="_blank"
                               style="color: #3b5998; font-size: 18pt;">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </div>
                        <div class="col s2 col-centered center-align">
                            <a href="https://www.twitter.com/MiPetdate" target="_blank"
                               style="color: #55acee; font-size: 18pt;">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </div>
                        <div class="col s2 col-centered center-align">
                            <a href="https://plus.google.com/u/2/117467538147269293086" target="_blank"
                               style="color: #dd4b39; font-size: 18pt;">
                                <span class="fa fa-google"></span>
                            </a>
                        </div>
                        <div class="col s2 col-centered center-align">
                            <a style="color: #3b5998; font-size: 18pt;" href="mailto:contacto@mipetdate.com">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{% url 'publicidad_app:contacto_publicidad' %}" style="border: none !important;"
                               class="btn-large btn-white-border no-shadow">¡Anúnciate!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row m-b-none">
                <div class="col s12">
                    Copyright © {% now "Y" %} Derechos reservados.
                    <img class="right" style="position: relative;top: 8px;margin-left: 10px;"
                         src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/btn_8.png"
                         alt="undefined"/>
                    <a rel="license" class="right"
                       href="http://creativecommons.org/licenses/by-nd/4.0/"><img
                            alt="Licencia Creative Commons" style="border-width:0"
                            src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png"/></a><br/>Esta obra está bajo una
                    <a
                            rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Licencia Creative
                        Commons
                        Atribución-SinDerivar 4.0 Internacional</a>.
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Base JS scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% comment %}
    <script src="{% static 'base/js/materialize.min.js' %}"></script>{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<!-- third-party JS scripts -->
<script src="{% static 'base/js/validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'base/js/validate/localization/messages_es.min.js' %}"></script>

<script src="{% static 'base/js/base.js' %}"></script>

<script type="text/javascript">
    window.smartlook || (function (d) {
        var o = smartlook = function () {
            o.api.push(arguments)
        }, h = d.getElementsByTagName('head')[0];
        var c = d.createElement('script');
        o.api = new Array();
        c.async = true;
        c.type = 'text/javascript';
        c.charset = 'utf-8';
        c.src = '//rec.smartlook.com/recorder.js';
        h.appendChild(c);
    })(document);
    smartlook('init', '45510d345011b1104025d17b6e81317bc8e83107');


</script>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) {
            z._.push(c)
        }, $ = z.s =
                d.createElement(s), e = d.getElementsByTagName(s)[0];
        z.set = function (o) {
            z.set._.push(o)
        };
        z._ = [];
        z.set._ = [];
        $.async = !0;
        $.setAttribute("charset", "utf-8");
        $.src = "//v2.zopim.com/?4J4qwlMpOrvaeZLcMFBMO4T1xyDtHH84";
        z.t = +new Date;
        $.type = "text/javascript";
        e.parentNode.insertBefore($, e)
    })(document, "script");
</script>
<!--End of Zendesk Chat Script-->

{% block scripts %}

{% endblock %}

</body>
</html>