{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    ¿Cómo funciona?
{% endblock %}

{% block styles %}
    <style>
        .features {
            font-size: 14pt;
            padding-left: 12pt;
        }

        .features > li {
            line-height: 2.2em;
            font-size: 18pt;
        }

        .features > li > i {
            margin-right: 12pt;
            font-size: 1.5em;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3>Anúnciate y controla tu negocio online</h3>
                <h5>
                    Con miPetdate lleva el registro de tus citas fácilmente.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l7">
                <img src="{% static 'base/img/mckp.png' %}" alt="mockup" class="responsive-img m-t-lg">
            </div>
            <div class="col s12 m6 l5">
                <ul class="features m-t-none">
                    <li>
                        <i class="material-icons purple-text">access_time</i>Reservaciones  24/7
                    </li>
                    <li>
                        <i class="material-icons amber-text">date_range</i>Mayor número de citas
                    </li>
                    <li>
                        <i class="material-icons red-text">person_add</i>Nuevos clientes
                    </li>
                    <li>
                        <i class="material-icons cyan-text">trending_up</i>Aumenta la productividad
                    </li>
                    <li>
                        <i class="material-icons brown-text">hourglass_empty</i>Menos tiempos muertos
                    </li>
                    <li>
                        <i class="material-icons teal-text">monetization_on</i>Incrementa tus ingresos
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accent white-text section">
        <div class="container">
            <div class="row section m-b-none">
                <div class="col s12 m6 l7 center-align">
                    <h1 class="m-t-sm">¡Suscríbete hoy!</h1>
                    <h5>Todos estos beneficios a tan sólo $320 mensuales </h5>
                    <p class="grey-text text-lighten-2 m-t-none hide">* Pago mes con mes</p>
                    {% if user.tiene_negocios %}
                        <a class="btn-large action bold" href="{% url 'negocios_app:negocios_usuario' %}">
                            Ir a mis negocios
                        </a>
                    {% endif %}
                </div>
                {% if not user.tiene_negocios %}
                    <div class="col s12 m6 l5">
                        {% if contacto_form %}
                            <form action="{% url 'usuarios_app:beneficios' %}" method="POST">
                                {% csrf_token %}
                                {% for field in contacto_form %}
                                    <div class="input-field">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn-large bold action m-t-md right">¡Solicitar información!
                                </button>
                            </form>
                        {% elif not user.is_authenticated %}
                            <div class="center-align m-t-xl">
                                <h5>Registra tu negocio para suscribirte.</h5>
                                <p>Y obtén 10 días de prueba totalmente gratis</p>
                                <a class="btn-large center action bold"
                                   href="{% url 'negocios_app:registrar_negocio' %}">Registrar
                                    negocio</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}