{% extends 'base/base.html' %}
{% load static from staticfiles %}


{% block title %}

{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h5>
                            Mis solicitudes de cita
                        </h5>
                        {% if citas %}
                            <table class="highlight responsive-table">
                                <thead>
                                <tr>
                                    <th data-field="negocio">Negocio</th>
                                    <th data-field="mascota">Mascota</th>
                                    <th data-field="fecha">Fecha</th>
                                    <th data-field="servicio">Servicio</th>
                                    <th data-field="estado">Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cita in citas %}
                                    <tr class="pointer">
                                        <td>
                                            <a href="{% url 'negocios_app:negocio_view' cita.negocio.slug %}">{{ cita.negocio.nombre }}</a>
                                        </td>
                                        <td class="modal-trigger" data-target="modal-cita-{{ cita.id }}">
                                            {{ cita.mascota.nombre }}
                                        </td>
                                        <td class="modal-trigger" data-target="modal-cita-{{ cita.id }}">
                                            {{ cita.fecha|date:"SHORT_DATE_FORMAT" }} - {{ cita.fecha|time:"h:i a" }}
                                        </td>
                                        <td class="modal-trigger" data-target="modal-cita-{{ cita.id }}">
                                            {{ cita.servicio.nombre_publico }}
                                        </td>
                                        <td class="modal-trigger" data-target="modal-cita-{{ cita.id }}">
                                            {% if cita.estado == '1' %} <!-- Pendiente -->
                                                <span class="grey lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                            {% elif cita.estado == '2' %} <!-- Aceptado -->
                                                <span class="green lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                            {% elif cita.estado == '3' %} <!-- Cancelado -->
                                                <span class="red lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <div id="modal-cita-{{ cita.id }}" class="modal modal-fixed-footer">
                                        <div class="modal-content">
                                            <h4>Detalles de solicitud de cita</h4>
                                            <div class="row section">
                                                <div class="col s12 m7">
                                                    <div class="row">
                                                        <div class="col s12 m6 center-align">
                                                            <div class="imagen-mascota avatar center-block border p-md"
                                                                 id="imagen-mascota{{ cita.mascota.id }}">
                                                                <style>
                                                                    #imagen-mascota{{ cita.mascota.id }} {
                                                                        background: url({{ cita.get_image_url }}) center center;
                                                                    }
                                                                </style>
                                                            </div>
                                                            <h5>{{ cita.mascota.nombre }}</h5>
                                                        </div>
                                                        <div class="col m6">
                                                            <div class="info-mascota">
                                                                <p>
                                                                    <b>Edad:</b> {{ cita.mascota.fecha_nacimiento|timesince }}
                                                                </p>
                                                                <p><b>Especie:</b> {{ cita.mascota.especie }}</p>
                                                                <p><b>Raza:</b> {{ cita.mascota.raza }}</p>
                                                                <p><b>Sexo:</b> {{ cita.mascota.get_sexo_display }}</p>
                                                                <ul>
                                                                    <li>
                                                                        {% if cita.mascota.esterilizado %}
                                                                            <i class="material-icons green-text">check</i>
                                                                        {% else %}
                                                                            <i class="material-icons red-text">close</i>
                                                                        {% endif %}
                                                                        Esterilizado
                                                                    </li>
                                                                    <li>
                                                                        {% if cita.mascota.castrado %}
                                                                            <i class="material-icons green-text">check</i>
                                                                        {% else %}
                                                                            <i class="material-icons red-text">close</i>
                                                                        {% endif %}
                                                                        Castrado
                                                                    </li>
                                                                    <li>
                                                                        {% if cita.mascota.desparasitado %}
                                                                            <i class="material-icons green-text">check</i>
                                                                        {% else %}
                                                                            <i class="material-icons red-text">close</i>
                                                                        {% endif %}
                                                                        Desparasitado
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col s12">
                                                            {% if cita.mascota.caracteristicas %}
                                                                <p><b>Características:</b></p>
                                                                <p>{{ cita.mascota.caracteristicas }}</p>
                                                            {% endif %}
                                                            {% if cita.mascota.observaciones_medicas %}
                                                                <p><b>Observaciones médicas:</b></p>
                                                                <p>{{ cita.mascota.observaciones_medicas }}</p>
                                                            {% endif %}
                                                            {% if cita.mascota.vacunas %}
                                                                <p><b>Vacunas:</b></p>
                                                                <p>{{ cita.mascota.vacunas }}</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col s12 m5">
                                                    <p><b>Usuario: </b></p>
                                                    <p>{{ cita.mascota.dueño.get_full_name }}</p>
                                                    <p><b>Mascota:</b></p>
                                                    <p>{{ cita.mascota.nombre }}</p>
                                                    <p><b>Fecha para cita:</b></p>
                                                    <p>{{ cita.fecha|date:"SHORT_DATE_FORMAT" }} -
                                                        {{ cita.fecha|time:"h:i a" }}</p>
                                                    <p><b>Servicio:</b></p>
                                                    <p>{{ cita.servicio.nombre_publico }}</p>
                                                    <p><b>Estado de la solicitud:</b></p>
                                                    <p class="m-t-xs">
                                                        {% if cita.estado == '1' %} <!-- Pendiente -->
                                                            <span class="grey lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                                        {% elif cita.estado == '2' %} <!-- Aceptado -->
                                                            <span class="green lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                                        {% elif cita.estado == '3' %} <!-- Cancelado -->
                                                            <span class="red lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="javascript:void(0);"
                                               class=" modal-action modal-close waves-effect waves-red btn-flat">Cerrar</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No tienes solicitudes de cita. <a class="link"
                                                                 href="{% url 'negocios_app:buscar_negocios' %}">Busca
                                negocios</a> para realizar una</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}