{% extends 'base/base.html' %}
{% load static from staticfiles %}


{% block title %}
    Editar perfil
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/jquery-filer/jquery.filer.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/jquery-filer/themes/jquery.filer-dragdropbox-theme.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col s12 m8">
                <form action="{% url 'usuarios_app:editar_perfil_usuario' %}" method="POST" id="perfil-form"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-content">
                            <h3>Edita tu perfil</h3>
                            {% if form.non_field_errors %}
                                <p class="error">{{ form.non_field_errors }}</p>
                            {% endif %}
                            <div class="row">
                                {% for field in form %}
                                    {% if field.id_for_label == 'id_imagen' %}
                                        <div class="col s12">
                                            <div class="file-field input-field">
                                                <label for="imagen">Imagen principal: </label>
                                                <input type="file" name="imagen" accept="image/*" id="imagen">
                                                <label id="error-imagen" class="perror"></label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col s12">
                                            <div class="input-field">
                                                {{ field }}
                                                {{ field.label_tag }}
                                                {% for error in field.errors %}
                                                    <label class="perror">{{ error }}</label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="col s12">
                                    <button type="submit" class="btn action right">Guardar perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'base/js/jquery-filer/jquery.filer.min.js' %}"></script>
    <script>
        $(function () {
            $('#imagen').filer({
                showThumbs: true,
                limit: 1,
                extensions: ['jpg', 'jpeg', 'png', 'gif'],
                files: [{
                    name: "{{ request.user.get_image_filename }}",
                    file: "{{ request.user.get_image_url }}",
                    url: "{{ request.user.get_image_url }}"
                }],
                captions: {
                    button: "Elegir imagen",
                    feedback: "Elige imagen a subir",
                    feedback2: "archivos elegidos",
                    drop: "Arrastra aquí para subir",
                    removeConfirmation: "¿Estas seguro de eliminar este archivo?",
                }

            });

            $('.jFiler-item-trash-action').remove();
            $('#perfil-form').validate({
                rules: {
                    name: "required",
                    'nombre': {
                        minlength: 6
                    },
                    'telefono': {
                        required: true,
                        minlength: 6,
                        number: true
                    },
                    imagen: {
                        required: false
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.attr("name") == "imagen") {
                        if ($('.jFiler-input').siblings('p.error.text-error').length > 0) {
                            $('.jFiler-input').siblings('p.error.text-error').text('Este campo es obligatorio')
                        }
                        else
                            $('<p class="error text-error">' + error.text() + '</p>').insertAfter('.jFiler-input');
                    }
                    else {
                        // $(element).removeClass('valid').addClass('invalid').siblings('label').attr('data-error', error.text());
                        $(element).addClass('validate invalid');
                        error.addClass('perror').insertAfter($(element).closest('.input-field'));
                        Materialize.updateTextFields();
                    }


                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}