{% extends 'base/base.html' %}
{% load static from staticfiles %}


{% block title %}
    Mi perfil
{% endblock %}



{% block styles %}
    <style>
        .card-content {
            border: 1px solid transparent;
            border-radius: 6px;
        }

        .card-content:hover {
            border: 1px solid #E0E0E0;
            border-radius: 6px;
        }
    </style>
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row section m-b-none">
            <div class="col s12 center-align m-t-xl">
                <div class="imagen-usuario avatar center-block border p-md"
                     id="imagen-usuario">
                    <style>
                        #imagen-usuario {
                            background: url({{ user.get_image_url }}) center center;
                        }
                    </style>
                </div>
                <h4>{{ usuario.get_full_name }}</h4>
            </div>
        </div>
        <div class="row row-centered" id="row-acciones">
            <div class="col s6 m4 l3 col-centered">
                <a href="{% url 'mascotas_app:mascotas_usuario' %}">
                    <div class="card transparent no-shadow">
                        <div class="card-content center-align p-tb-lg">
                            <h1 class="no-margins brown-text">
                                <i class="material-icons">pets</i>
                            </h1>
                            <h5 class="black-text">
                                Mis mascotas
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s6 m4 l3 col-centered">
                <a href="{% url 'usuarios_app:citas_usuario' %}">
                    <div class="card transparent no-shadow">
                        <div class="card-content center-align p-tb-lg">
                            <h1 class="no-margins rank-text">
                                <i class="material-icons">event</i>
                            </h1>
                            <h5 class="black-text">
                                Mis citas
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s6 m4 l3 col-centered" id="col-negocios">
                <a href="{% url 'negocios_app:negocios_usuario' %}">
                    <div class="card transparent no-shadow">
                        <div class="card-content center-align p-tb-lg">
                            <h1 class="no-margins action-text">
                                <i class="material-icons">business</i>
                            </h1>
                            <h5 class="black-text">
                                Mis negocios
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s6 m4 l3 col-centered">
                <a href="{% url 'usuarios_app:editar_perfil_usuario' %}">
                    <div class="card transparent no-shadow">
                        <div class="card-content center-align p-tb-lg">
                            <h1 class="no-margins accent-text">
                                <i class="material-icons">mode_edit</i>
                            </h1>
                            <h5 class="black-text">
                                Editar perfil
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}



{% block scripts %}

    {% if usuario.tiene_negocios %}
        <script>
            $('#col-negocios').prependTo('#row-acciones');
        </script>
    {% endif %}

    <script>
        $(document).ready(function () {
            if (getUrlParameter('success') === 'true') {
                var $toastContent = $('<span><i class="material-icons">check</i> Se ha guardado correctamente</span>');
                Materialize.toast($toastContent, 3000, 'white-toast');
            }
        });
    </script>


{% endblock %}