{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Regístrate
{% endblock %}

{% block styles %}
    <style>

        .valign-wrapper {
            background: url({% static 'base/img/signup-bg.png' %}) center center;
            background-size: cover;
            min-height: 100vh;
            /*background-position-x: 40vh;*/
            margin-top: -65px;
        }

        .input-field {
            margin-top: 0;
        }

    </style>
{% endblock %}


{% block content %}
    <div class="animated" id="bg">
        <div class="valign-wrapper">
            <div class="container valign m-t-xxl">
                <div class="row m-b-none m-t-xxl">
                    <div class="col s12 m7 l5 offset-l1">
                        <div class="card">
                            <div class="card-content">
                                <h4>Crea una cuenta</h4>
                                {% for error in signup_form.non_field_errors %}
                                    <p class="red-text text-lighten-1">{{ error }}</p>
                                {% endfor %}
                                <form action="{% url 'usuarios_app:signup' %}" method="POST" id="login-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
                                    {% for field in signup_form %}
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ field }}
                                                {{ field.label_tag }}
                                                {% for error in field.errors %}
                                                    <p class="red-text text-lighten-1">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="center-align">
                                        <button class="btn waves-effect waves-light accent m-t-sm" type="submit"
                                                name="action"
                                                id="btn-submit">
                                            Continuar
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m5 l6 m-b-md">
                        <div class="center-align white-text">
                            <h4 class="m-t-xxl">¿Ya tienes cuenta?</h4>
                            <a class="btn waves-effect waves-light action" id="btn-login"
                               href="{% url 'usuarios_app:login' %}">Inicia sesión</a>
                            <div class="row m-t-lg">
                                <div class="row">
                                    <div class="col s12">
                                        <h6>También puedes iniciar con:</h6>
                                    </div>
                                </div>
                                <div class="row row-centered">
                                    <div class="col s12 m10 l6 col-centered">
                                        <a class="btn btn-block btn-social btn-lg btn-facebook center-align"
                                           href="
                                                   {% url 'social:begin' 'facebook' %}{% if redirect_to %}?next={{ redirect_to }}{% endif %}">
                                            <i class="fa fa-facebook"></i>Facebook
                                        </a>
                                        <a class="btn btn-block btn-social btn-lg btn-google m-t-lg center-align"
                                           id="google-plus-button">
                                            <i class="fa fa-google"></i>Google
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'usuarios/js/login.js' %}"></script>
    <script>

        var navbarFixed = $('<div class="navbar-fixed"></div>'),
                nav = $('nav');

        nav.removeClass('primary').addClass('white animated');
        nav.appendTo(navbarFixed);
        $('body').prepend(navbarFixed);

        if (getUrlParameter('next')) {
            var querygetstr = $(location).attr('search');
            $('#btn-login').attr('href', "{% url 'usuarios_app:login' %}" + querygetstr);
            var $toastContent = $('<span><i class="material-icons right">keyboard_arrow_right</i> Crea una cuenta para continuar</span>');
            Materialize.toast($toastContent, 3000, 'white-toast rounded bold');
        }
    </script>

    <!-- Google auth -->
    <script src="//apis.google.com/js/api:client.js"></script>

    <script type="text/javascript">
        gapi.load('auth2', function () {
            var auth2;

            auth2 = gapi.auth2.init({
                client_id: "418879217389-v6gdndbn7uirtv0dnpiltbpi6u750s89.apps.googleusercontent.com",
                scope: 'profile'
            });

            auth2.then(function () {
                var button = document.getElementById("google-plus-button");

                auth2.attachClickHandler(button, {}, function (googleUser) {
                    // Send access-token to backend to finish the authenticate
                    // with your application

                    var authResponse = googleUser.getAuthResponse();
                    var $form;
                    var $input;

                    $form = $("<form>");
                    $form.attr("action", "/complete/google-plus/");
                    $form.attr("method", "post");
                    $input = $("<input>");
                    $input.attr("name", "access_token");
                    $input.val(authResponse.access_token);
                    $form.append($input);
                    // Add csrf-token if needed
                    var $csrf = $("{% csrf_token %}");
                    $form.append($csrf);
                    $(document.body).append($form);
                    $form.submit();
                });
            });
        });
    </script>
{% endblock %}