{% extends 'base/base.html' %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}
    test pago completo
{% endblock %}


{% block styles %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/stars.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/starability/starability-minified/starability-all.min.css' %}">
{% endblock %}


{% block content %}
    Gracias por su compra!
{% endblock %}


{% block scripts %}

    <script src="{% static 'base/js/clockpicker/picker.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/picker.time.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/es_ES.js' %}"></script>
{% endblock %}