{% extends 'base/base.html' %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}
    test
{% endblock %}


{% block styles %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/stars.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/starability/starability-minified/starability-all.min.css' %}">
{% endblock %}


{% block content %}
    <button onclick="ajaxCrearPago()">
        crear pago
    </button>
{% endblock %}


{% block scripts %}

    <script src="{% static 'base/js/clockpicker/picker.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/picker.time.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/es_ES.js' %}"></script>
    <script>
        function ajaxCrearPago() {
            $.ajax({
                url: "{% url 'pagos_app:ajax_crear_pago' %}",
                contentType: "application/json; charset=utf-8",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    window.location = data + "";
                },
                error: function (xhr, errmsg, err) {
                    console.log(errmsg);
                    console.log(xhr);
                    console.log(err);
                }
            });
        }
    </script>
{% endblock %}