{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Editar perfil de {{ negocio.nombre }}
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/clockpicker/materialize.clockpicker.css' %}">

    {% block styles_configurar %}

    {% endblock %}
{% endblock %}


{% block content %}
    <nav class="white hide-on-small-and-down nav-breadcrumbs">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'negocios_app:negocios_usuario' %}" class="breadcrumb black-text">Mis
                    negocios</a>
                <a href="{% url 'negocios_app:dashboard' negocio.slug %}"
                   class="breadcrumb black-text">{{ negocio.nombre }}</a>
                <a href="javascript:void(0);" class="breadcrumb black-text">Editar perfil</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="section">
                <div class="col s12 m8 m-t-sm">
                    <h5 class="no-top-margins"><i class="material-icons">settings</i>Editar perfil de <a
                            href="{% url 'negocios_app:negocio_view' negocio.slug %}">{{ negocio.nombre }}</a></h5>
                </div>
                <div class="col s12 m4">
                    <a class="waves-effect waves-light btn right btn-block hiddendiv" id="btn-guardar-cambios">Guardar
                        cambios</a>
                </div>
                <div class="col s12">
                    <p>{{ error }}</p>
                </div>
            </div>

            <div class="col s12 m3">
                {% include 'negocios/configuraciones_negocio/base_menu_configuraciones.html' %}
            </div>
            <div class="col s12 m9">
                <div class="card">
                    {% block config_form %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
    <script src="{% static 'negocios/js/configurar_negocio.js' %}"></script>

    {% if success %}
        <script>
            $(document).ready(function () {
                var $toastContent = $('<span><i class="material-icons">check</i> Se ha guardado correctamente</span>');
                Materialize.toast($toastContent, 3000, 'white-toast rounded');
            });
        </script>
    {% endif %}
    {% block scripts_configurar %}

    {% endblock %}
{% endblock %}