{% load static from staticfiles %}
<style>
    .material-icons {
        font-size: inherit;
    }
</style>
<div class="collection hide-on-small-only " id="menu-configuraciones">
    <a class="collection-item" href="{% url 'negocios_app:configurar_negocio' negocio.slug %}">
        Básico
    </a>
    <a class="collection-item" href="{% url 'negocios_app:configurar_servicios' negocio.slug %}">
        Servicios
    </a>
    <a class="collection-item" href="{% url 'negocios_app:configurar_galeria' negocio.slug %}">
        Galería
    </a>
    <a class="collection-item" href="{% url 'negocios_app:configurar_horario' negocio.slug %}">
        Horario <span class="new badge rank bold" data-badge-caption="">Premium</span>
    </a>
    <a class="collection-item" href="{% url 'negocios_app:configurar_contacto' negocio.slug %}">
        Contacto <span class="new badge rank bold" data-badge-caption="">Premium</span>
    </a>
</div>

<div class="hide-on-med-and-up">
    <!-- Dropdown Trigger -->
    <a class='dropdown-button waves-effect waves-light btn-flat center-align' href='#' data-activates='dropdown1'
       style="width: 100%;">Configuraciones<i class="material-icons right">arrow_drop_down</i></a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li>
            <a class="collection-item" href="{% url 'negocios_app:configurar_negocio' negocio.slug %}">
                Básico
            </a>
        </li>
        <li>
            <a class="collection-item" href="{% url 'negocios_app:configurar_servicios' negocio.slug %}">
                Servicios
            </a>
        </li>
        <li>
            <a class="collection-item" href="{% url 'negocios_app:configurar_galeria' negocio.slug %}">
                Galería
            </a>
        </li>
        <li>
            <a class="collection-item" href="{% url 'negocios_app:configurar_horario' negocio.slug %}">
                Horario <span class="new badge rank bold" data-badge-caption="">Premium</span>
            </a>
        </li>
        <li>
            <a class="collection-item" href="{% url 'negocios_app:configurar_contacto' negocio.slug %}">
                Contacto <span class="new badge rank bold" data-badge-caption="">Premium</span>
            </a>
        </li>
    </ul>
</div>