{% extends 'negocios/configuraciones_negocio/base_configuracion_negocio.html' %}
{% load static from staticfiles %}

{% block config_form %}
    <form action="{% url 'negocios_app:configurar_negocio' negocio.slug %}" method="POST">
        {% csrf_token %}
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <h5>Básico</h5>
                    {% for error in negocio_form.non_field_errors %}
                        <p class="red-text text-lighten-1">{{ error }}</p>
                    {% endfor %}
                </div>
                {{ negocio_form.media }}
                {% for field in negocio_form %}
                    <div class="input-field col s12">
                        {{ field }}
                        {{ field.label_tag }}
                        {% for error in field.errors %}
                            <p class="text-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <input type="hidden" name="direccion" id="input_direccion" value="{{ negocio.direccion }}">
            </div>

        </div>
        <div class="card-action">
            <button class="btn waves-effect waves-light accent" type="submit"
                    name="guardar_contacto" id="btn-login-submit">
                Guardar negocio
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
{% endblock %}

{% block scripts_configurar %}
    <script src="{% static 'base/js/custom_geoposition_field.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('select#id_categorias').material_select();
        });
        $('form').on('submit', function () {
            $('#input_direccion').val($('.geoposition-address').text());
        });
    </script>
{% endblock %}