{% extends 'negocios/configuraciones_negocio/base_configuracion_negocio.html' %}
{% load static from staticfiles %}

{% block styles_configurar %}
    <style>
        .delete-row {
            position: absolute;
            margin: 26px;
        }
    </style>
{% endblock %}

{% block config_form %}
    <form action="{% url 'negocios_app:configurar_horario' negocio.slug %}" method="POST" id="horario-form">
        {% csrf_token %}
        <div class="card-content">

            <h5>Horario</h5>

            {% if not negocio.tiene_suscripcion %}
                <p class="rank white-text rounded p-sm m-b-md">
                    Obten tu suscripción para poder recibir solicitudes de cita de los usuarios.
                    <a class="link underline" href="{% url 'usuarios_app:beneficios' %}">ver más</a>
                </p>
            {% endif %}

            {% for error in horario_negocio_form.non_field_errors %}
                <p class="red-text text-lighten-1">{{ error }}</p>
            {% endfor %}

            {{ formset.management_form }}
            {% for horario_negocio_form in formset %}
                <div class="row horario-formset">
                    {{ horario_negocio_form.media }}
                    {{ horario_negocio_form.id }}
                    <div class="input-field col s8 m4">
                        {{ horario_negocio_form.dia_semana }}
                        {{ horario_negocio_form.dia_semana.label_tag }}
                    </div>
                    <div class="input-field col s6 m3">
                        {{ horario_negocio_form.hora_inicio }}
                        {{ horario_negocio_form.hora_inicio.label_tag }}
                    </div>
                    <div class="input-field col s6 m3">
                        {{ horario_negocio_form.hora_fin }}
                        {{ horario_negocio_form.hora_fin.label_tag }}
                    </div>

                    {% if formset.can_delete %}
                        {{ horario_negocio_form.DELETE }}
                    {% endif %}

                </div>
            {% endfor %}
        </div>
        <div class="card-action">
            <button class="btn waves-effect waves-light action" type="submit"
                    name="guardar_contacto" id="btn-login-submit">
                Guardar horario
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
{% endblock %}

{% block scripts_configurar %}
    <script src="{% static 'base/js/clockpicker/picker.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/picker.time.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/es_ES.js' %}"></script>
    <script>

        $(document).ready(function () {
            // Horario

            $('.horario-formset').each(function () {
                $(this).find('a.delete-row').addClass('col s4 m2 action-text');
            });

            $('select.select-dia-semana').each(function () {
                $(this).find('option:first').text('Elige un día: ');
                $(this).material_select();
            });

            $('input.timepicker').each(function () {
                console.log($(this).attr('id'));
                $(this).pickatime({
                    format: 'hh:i A',
                    formatSubmit: 'HH:i',
                    hiddenName: true,
                    autoclose: true,
                    donetext: 'HECHO',
                    default: '10:00',
                    vibrate: true,
                    interval: 60,
                });
            });
        });


        $('.horario-formset').formset({
            addText: '<i class="material-icons">add</i>Agregar día',
            deleteText: '<i class="material-icons">delete</i>Borrar',
            added: function () {
                $('select.select-dia-semana').each(function () {
                    $(this).find('option:first').text('Elige un día: ');
                    $(this).material_select();
                });
                $('input.timepicker').each(function () {
                    console.log($(this).attr('id'));
                    $(this).pickatime({
                        format: 'hh:i A',
                        formatSubmit: 'HH:i',
                        hiddenName: true,
                        autoclose: true,
                        donetext: 'HECHO',
                        default: '10:00',
                        vibrate: true,
                        interval: 60,
                    });
                });
            },
            removed: function () {
                $('.horario-formset').each(function () {
                    if (!$(this).is(":visible")) {
                        $(this).find('input, textarea, select').each(function () {
                            $(this).attr('required', null);
                        });
                    }
                });
            }
        });
    </script>
{% endblock %}