{% extends 'negocios/configuraciones_negocio/base_configuracion_negocio.html' %}
{% load static from staticfiles %}

{% block styles_configurar %}
    <link rel="stylesheet" href="{% static 'base/css/jquery-filer/jquery.filer.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/jquery-filer/themes/jquery.filer-dragdropbox-theme.css' %}">
    <style>
        [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
            top: 0;
            left: -10px;
        }
    </style>
{% endblock %}

{% block config_form %}
    <form action="{% url 'negocios_app:configurar_galeria' negocio.slug %}" method="POST" id="galeria-form"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-content">

            <h5>Galeria</h5>

            {% for error in galeria_negocio_form.non_field_errors %}
                <p class="red-text text-lighten-1">{{ error }}</p>
            {% endfor %}

            <div class="row m-b-none">
                <div class="col s12 input-field">
                    <input type="file" accept="image/*" name="imagen" id="imagen">
                </div>
            </div>
        </div>
        <div class="card-action">
            <button class="btn waves-effect waves-light accent" type="submit"
                    name="guardar_galeria" id="btn-login-submit">
                Guardar galeria
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
{% endblock %}

{% block scripts_configurar %}
    <script src="{% static 'base/js/jquery-filer/jquery.filer.min.js' %}"></script>
    <script src="{% static 'negocios/js/configurar_galeria.js' %}"></script>

    <script>
        $(function () {
            $('#imagen').filer({
                changeInput: filer_default_opts.changeInput2,
                showThumbs: true,
                theme: "dragdropbox",
                templates: filer_default_opts.templates,
                extensions: ['jpg', 'jpeg', 'png', 'gif'],
                addMore: true,
                files: [
                    {% for imagen in imagenes %}
                        {
                            "name": "{{ imagen.get_image_filename }}",
                            "type": "image/jpg",
                            "file": "{{ imagen.get_image_url }}",
                            "url": "{{ imagen.get_image_url }}",
                        }{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                ],
                captions: filer_default_opts.captions
            });

            $('input[name="is_cover"][value="{{ cover.get_image_filename }}"]').attr('checked', true);
        })
    </script>
{% endblock %}