{% extends 'negocios/configuraciones_negocio/base_configuracion_negocio.html' %}
{% load static from staticfiles %}

{% block styles_configurar %}
    <style>
        .delete-row {
            padding-top: 28px !important;
            padding-left: 5px !important;
            text-align: right;
        }
    </style>
{% endblock %}

{% block config_form %}
    <form action="{% url 'negocios_app:configurar_servicios' negocio.slug %}" method="POST" id="servicios-form">
        {% csrf_token %}
        <div class="card-content">

            <h5>Servicios</h5>

            {% for error in servicios_negocio_form.non_field_errors %}
                <p class="red-text text-lighten-1">{{ error }}</p>
            {% endfor %}

            {{ formset.management_form }}
            {% for servicios_negocio_form in formset %}
                <div class="row servicios-formset">
                    {{ servicios_negocio_form.media }}
                    {{ servicios_negocio_form.id }}
                    <div class="input-field col s12">
                        {{ servicios_negocio_form.nombre_publico }}
                        {{ servicios_negocio_form.nombre_publico.label_tag }}
                        {% for error in servicios_negocio_form.nombre_publico.errors %}
                            <p class="text-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="input-field col s12">
                        {{ servicios_negocio_form.descripcion }}
                        {{ servicios_negocio_form.descripcion.label_tag }}
                        {% for error in servicios_negocio_form.descripcion.errors %}
                            <p class="text-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="input-field col s6 m4">
                        {{ servicios_negocio_form.tipo_precio }}
                        {{ servicios_negocio_form.tipo_precio.label_tag }}
                        {% for error in servicios_negocio_form.tipo_precio.errors %}
                            <p class="text-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="input-field col s6 m3">
                        {{ servicios_negocio_form.precio }}
                        {{ servicios_negocio_form.precio.label_tag }}
                        {% for error in servicios_negocio_form.precio.errors %}
                            <p class="text-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="input-field col s6 m3">
                        {{ servicios_negocio_form.tiempo_aprox_minutos }}
                        {{ servicios_negocio_form.tiempo_aprox_minutos.label_tag }}
                        {% for error in servicios_negocio_form.tiempo_aprox_minutos.errors %}
                            <p class="text-error">{{ error }}</p>
                        {% endfor %}
                    </div>

                    {% if formset.can_delete %}
                        {{ servicios_negocio_form.DELETE }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="card-action">
            <button class="btn waves-effect waves-light accent" type="submit"
                    name="guardar_contacto" id="btn-login-submit">
                Guardar servicios
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
{% endblock %}

{% block scripts_configurar %}
    <script>

        $(document).ready(function () {
            $('.servicios-formset').each(function () {
                $(this).find('a.delete-row').addClass('col s6 m2 action-text');
            });
        });

        if (getUrlParameter('new') === 'true') {
            var $toastContent = $('<span><i class="material-icons">check</i> Agrega al menos un servicio para finalizar</span>');
            Materialize.toast($toastContent, 3000, 'white-toast rounded');
        }


        $('.servicios-formset').formset({
            addText: '<i class="material-icons">add</i>Agregar servicio',
            deleteText: '<i class="material-icons">delete</i>Borrar',
            deleteCssClass: 'delete-row',
            added: function () {
                $('.servicios-formset select').material_select();
                $('.servicios-formset').each(function () {
                    $(this).find('a.delete-row').addClass('col s2');
                });
            },
            removed: function () {
                $('.servicios-formset').each(function () {
                    if (!$(this).is(":visible")) {
                        $(this).find('input, textarea, select').each(function () {
                            $(this).attr('required', null);
                        });
                    }
                });
            }
        });
    </script>
{% endblock %}