{% extends 'negocios/configuraciones_negocio/base_configuracion_negocio.html' %}
{% load static from staticfiles %}

{% block config_form %}
    {% if user.tiene_suscripcion %}
        <form action="{% url 'negocios_app:configurar_contacto' negocio.slug %}" method="POST">
            {% csrf_token %}
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h5>Contacto</h5>
                        {% for error in contacto_negocio_form.non_field_errors %}
                            <p class="red-text text-lighten-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% for field in contacto_negocio_form %}
                        <div class="input-field col s12">
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="text-error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light accent" type="submit"
                        name="guardar_contacto" id="btn-login-submit">
                    Guardar contacto
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    {% else %}
        <div class="card-content">
            <h5>
                Obten tu suscripción para poder agregar tu informacion de contacto al perfil.
            </h5>

            <a class="btn rank" href="{% url 'usuarios_app:beneficios' %}">ver más</a>

        </div>
    {% endif %}
{% endblock %}