.fc-state-default {
    background: transparent;
}

.fc-event {
    border: 1px solid #5C6BC0;
    background-color: #5C6BC0;
}

.palette-color-picker-bubble {
    z-index: 100000 !important;
}

.fc-event:hover {
    border: 1px solid #5c6bc0;
    background-color: #5c6bc0;
}

.fc-unthemed .fc-today {
    background-color: #eceff1;
}

.fc-toolbar h2 {
    font-size: 14pt;
    margin-top: 8px;
}

.fc button:focus, .fc-state-active, .fc-state-down {
    background-color: #cfd8dc;
}

.fc-day, .fc-day-number {
    cursor: pointer;
}
.fc-day:not(.fc-today):hover {
    background-color: #eceff1;
}