{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    FAQ
{% endblock %}


{% block styles %}
    <style>
        p > b {
            font-size: 16pt;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container" style="text-align: justify;">
        <div class="row">
            <div class="col m10 l9">
                <h3><b>Preguntas frecuentes</b></h3>
                <div id="generales" class="section scrollspy">
                    <h4><b>Generales</b></h4>
                    <hr>
                    <br>
                    <p>
                        <b>1. ¿Qu&eacute; es miPetdate?</b>
                        <br>
                        Somos una plataforma digital que permite a nuestros usuarios encontrar, comparar y reservar
                        citas con
                        especialistas en el cuidado animal; buscamos mejorar la atención y asistencia en las mascotas.
                    </p>
                    <br>
                    <p>
                        <b>2. ¿Quién puede hacer uso de la plataforma digital?</b>
                        <br>
                        Mipetdate.com brinda un espacio completamente libre con la intención que cualquier interesado
                        disfrute de los beneficios proporcionados.
                    </p>
                    <br>
                    <p>
                        <b>3. ¿Cómo se crea una cuenta?</b>
                        <br>
                        Formar parte de miPetdate es muy sencillo, solamente tienes que presionar el botón de “Inicia
                        sesión” (parte superior derecha del Home), elegir la opción “Crea una cuenta” y llenar los
                        formularios correspondientes. También se puede crear un registro como usuario durante el proceso
                        de solicitud de citas o como negocio tras adquirir la suscripción mensual.
                    </p>
                    <br>
                    <p>
                        <b>4. ¿Qui&eacute;n ve y utiliza la informaci&oacute;n?</b>
                        <br>
                        Todos los datos que nos brindes ser&aacute;n utilizados &uacute;nicamente por la empresa, esto
                        con
                        el fin de
                        brindarte un servicio
                        m&aacute;s personalizado y mejorado; conservando tu informaci&oacute;n segura y confidencial.
                    </p>
                    <br>
                    <p>
                        <b>5. ¿Qu&eacute; tipo de servicios se pueden encontrar?</b>
                        <br>
                        miPetdate reúne una extensa variedad de servicios afines al cuidado y asistencia a mascotas,
                        mostrando desde clínicas veterinarias hasta entrenadores.
                    </p>
                </div>
                <div id="usuarios" class="section scrollspy">
                    <h4><b>Usuarios</b></h4>
                    <hr>
                    <br>
                    <p>
                        <b>1. ¿Qu&eacute; beneficios se obtienen?</b>
                        <br>
                        Como usuario podr&aacute;s elegir entre una amplia gama de especialistas en el cuidado animal.
                        Por
                        nuestra
                        parte,
                        seleccionamos las mejores opciones seg&uacute;n tus necesidades, mostrando especialistas,
                        precios de
                        los
                        servicios y los
                        horarios disponibles para que puedas solicitar citas en todo momento y de manera autom&aacute;tica.
                    </p>
                    <br>
                    <p>
                        <b>2. ¿Se debe compartir la ubicaci&oacute;n?</b>
                        <br>
                        Al activar la geolocalizaci&oacute;n o brindar una direcci&oacute;n nos permitir&aacute;s
                        seleccionar los
                        mejores lugares y servicios
                        para tu mascota, ubicando los establecimientos m&aacute;s cercanos y mejor calificados para que
                        tu experiencia sea de lo m&aacute;s satisfactoria.
                    </p>
                    <br>
                    <p>
                        <b>3. ¿Tiene alg&uacute;n costo utilizar la plataforma?</b>
                        <br>
                        Puedes hacer uso de nuestros beneficios de manera gratuita e inmediata.
                    </p>
                    <br>
                    <p>
                        <b>4. ¿C&oacute;mo se reserva una cita?</b>
                        <br>
                        Una vez seleccionado el especialista y servicio deseado, se mostrar&aacute;n los horarios
                        disponibles,
                        facilitando un
                        espacio libre de elecci&oacute;n, para que solicites una cita y, posteriormente, acudas a la
                        misma.
                    </p>
                    <br>
                    <p>
                        <b>5. ¿Se pueden realizar varias reservaciones a la vez?</b>
                        <br>
                        No, en miPetdate se permite únicamente una reservación por especialista por lo que tendrás que
                        acudir a la cita, o bien cancelar la realizada. Eres capaz de cancelar reservaciones cuando tu
                        cita aún no ha sido aceptada o rechazada.
                    </p>
                    <br>
                    <p>
                        <b>6. ¿C&oacute;mo estar seguro que se ha realizado correctamente la reservaci&oacute;n?</b>
                        <br>
                        Una vez hecha una solitud de cita, se le notificará al especialista de tu petición, quien podrá
                        aceptarla o rechazarla; miPetdate se pondrá en contacto contigo (vía correo
                        electrónico) con la respuesta del especialista.
                    </p>
                    <br>
                    <p>
                        <b>7. ¿Se debe contactar al especialista para confirmar una cita?</b>
                        <br>
                        En mipetdate.com buscamos mejorar tu experiencia reduciendo esfuerzos, por esto, una vez
                        conseguido el correo de confirmación sólo tienes que acudir a tu cita.
                    </p>
                    <br>
                    <p>
                        <b>8. ¿Se puede cancelar o cambiar una reservación?</b>
                        <br>
                        Una vez que el especialista acepta la solicitud de cita deberás ponerte en
                        contacto directamente con el.
                    </p>
                    <br>
                    <p>
                        <b>9. No he recibido confirmaci&oacute;n de la cita. ¿Qu&eacute; debo hacer?</b>
                        <br>
                        Si se acerca la fecha de tu cita y aún no recibes ninguna respuesta, te recomendamos iniciar
                        sesi&oacute;n
                        en
                        www.mipetdate.com, ingresar al apartado “Citas” y posteriormente cancelar la solicitud en cuesti&oacute;n.
                        Una
                        vez
                        realizado esto, podr&aacute;s generar una nueva b&uacute;squeda, seleccionar a otro especialista
                        y
                        solicitar una
                        nueva cita.
                    </p>
                    <br>
                    <p>
                        <b>10. ¿Cu&aacute;ndo se realiza el pago de la cita?</b>
                        <br>
                        miPetdate no ofrece ning&uacute;n servicio de pago en l&iacute;nea, por lo que todo desembolso
                        monetario tendr&aacute;
                        que hacerse de
                        manera directa con el especialista en cuesti&oacute;n.
                    </p>
                </div>
                <div id="negocios" class="section scrollspy">
                    <h4>
                        <b>Negocios</b>
                    </h4>
                    <hr>
                    <br>
                    <p>
                        <b>1. ¿Qu&eacute; ventajas obtengo?</b>
                        <br>
                        Al ser parte de nuestro sistema podr&aacute; optimizar su negocio al:
                    <ol>
                        <li>
                            Agilizar el sistema de citas
                        </li>
                        <li>
                            Gestionar sus horas laborales
                        </li>
                        <li>
                            Atraer clientes potenciales
                        </li>
                        <li>
                            Ofrecer promociones de venta
                        </li>
                        <li>
                            Mejorar el servicio tras recibir valoraciones y comentarios de clientes
                        </li>
                        <li>
                            Eliminar tiempos muertos
                        </li>
                        <li>
                            Tener mayor conocimiento del entorno (tendencias, competencia, etc)
                        </li>
                    </ol>
                    </p>
                    <br>
                    <p>
                        <b>2. ¿C&oacute;mo se agrega un negocio?</b>
                        <br>
                        Tiene que ingresar al apartado “Registrar negocio” (parte superior derecha en la barra menú),
                        en este encontrará mayor información sobre nuestros servicios; para que pueda empezar a hacer
                        uso de ellos, será necesario crear una cuenta y llenar el formulario
                        correspondiente, así como el realizar el pago de la suscripción por medio de nuestro proveedor
                        externo “PayPal”.
                    </p>
                    <br>
                    <p>
                        <b>3. ¿Cu&aacute;ndo se realiza el cargo del paquete elegido?</b>
                        <br>
                        El pago es efectuado de manera voluntaria y propia, por lo que si quiere seguir haciendo uso de
                        nuestros
                        servicios,
                        deber&aacute; realizar la retribuci&oacute;n correspondiste de manera mensual; en caso
                        contrario, el
                        sistema
                        bloquear&aacute; los
                        servicios incluidos con la suscripci&oacute;n.
                    </p>
                    <br>
                    <p>
                        <b>4. ¿Tiene alg&uacute;n costo darse de baja?</b>
                        <br>
                        En miPetdate sólo queremos ayudar a mejorar su productividad al atraer más clientes y aumentar
                        la retención de los mismos, por lo que queda completamente libre para dar de baja su negocio en
                        cualquier momento.
                    </p>
                    <br>
                    <p>
                        <b>5. ¿C&oacute;mo se da de baja un negocio?</b>
                        <br>
                        Si no estas conforme con nuestros servicios, es necesario comunicarse al email
                        contacto@mipetdate.com
                        para llevar a cabo, el proceso de cancelación de cuenta.
                    </p>
                    <br>
                    <p>
                        <b>6. ¿Brindan facturas?</b>
                        <br>
                        S&iacute;, una vez realizado el pago de la suscripci&oacute;n podr&aacute;s solicitar tu factura
                        al
                        e-mail
                        contacto@mipetdate.com.
                    </p>
                </div>
                <div id="contacto" class="section scrollspy">
                    <h4><b>Contacto</b></h4>
                    <hr>
                    <p>
                        Nuestro servicio de atención al cliente está a tu disposición en un horario de lunes a viernes
                        de 9am a 6pm. Te invitamos a enviar tus comentarios a contacto@mipetdate.com, o bien, presionar
                        el icono de correo ubicado en la parte inferior derecha de la página.
                    </p>
                </div>
            </div>
            <div class="col hide-on-small-only m2 l3">
                <p class="bold m-b-none pinned">Secciones:</p>
                <ul class="table-of-contents pinned" style="top: 8em;">
                    <li><a href="#generales">Generales</a></li>
                    <li><a href="#usuarios">Usuarios</a></li>
                    <li><a href="#negocios">Negocios</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.scrollspy').scrollSpy();
        });
    </script>
{% endblock %}
