{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    La web de las mascotas
{% endblock %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <link rel="stylesheet" href="{% static 'base/css/morphext.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/aos.css' %}">
    <style>

        body {
            background-color: #fff !important;
            overflow-x: hidden;
        }

        hr {
            border: 0;
            margin: 0;
            border-top: 4px solid #dddddd;
        }

        .slick-container {
            top: 0;
            width: 100vw;
            margin: 0;
        }

        .slick-container img {
            height: 250px !important;
        }

        #mockup {
            width: 130%;
            left: -20%;
            top: -50px;
            position: relative;
        }

        .top-home {
            background: url({% static 'base/img/banner.png' %}) center center;
            background-size: cover;
            min-height: 70vh;
            margin-top: -65px;
            position: relative;
        }

        .top-home img:first-child {
            position: absolute;
            height: 60vh;
            bottom: 0;
            right: 10px;
        }

        /*
        .top-home {
            background: linear-gradient(rgba(0, 171, 194, 0.9), rgba(0, 171, 194, 0.8)), url(/static/base/img/home.jpg) center center;
            background-size: cover;
            min-height: 70vh;
            margin-top: -65px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        */

        .top-home2 {
            background: linear-gradient(rgba(0, 171, 194, 0.9), rgba(0, 171, 194, 0.8)), url(/static/base/img/home.jpg) center center;
            background-size: cover;
            min-height: 70vh;
            margin-top: -65px;
        }

        .home-title {
            font-size: 2rem !important;
        }

        #section-como-funciona {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,1+50,0.75+75,0+100 */
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.75) 75%, rgba(255, 255, 255, 0) 100%), url({% static 'base/img/como-funciona2.jpg' %}) center center; /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.75) 75%, rgba(255, 255, 255, 0) 100%), url({% static 'base/img/como-funciona2.jpg' %}) center center; /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.75) 75%, rgba(255, 255, 255, 0) 100%), url({% static 'base/img/como-funciona2.jpg' %}) center center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            background-size: cover;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
            border-top: 1px solid #eee;
        }

        #footer-base {
            display: none;
        }

        #span-morphext {
            font-size: 3rem;
            line-height: 4rem;
        }

    </style>
{% endblock %}


{% block content %}

    <div class="top-home valign-wrapper" id="top">
        <img src="{% static 'base/img/dog.png' %}" alt="dog" class="hide-on-med-and-down">
        <div class="container valign white-text">
            <form action="{% url 'negocios_app:buscar_negocios' %}" method="POST" class="section">
                {% csrf_token %}
                <div class="row m-t-xxl">
                    <div class="col s12">
                        <h1 class="home-title m-b-none">
                            <b class="white-text" id="span-morphext">
                                {% for categoria in categorias %}
                                    {{ categoria }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </b>
                            <br>para tu mascota
                        </h1>
                        <p class="lead">
                            Encuentra negocios y especialistas cerca de ti.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m3 l3">
                        <div class="input-field">
                            <select class="white-input" name="categoria">
                                <option value="">Especialistas</option>
                                {% for cat in categorias %}
                                    <option value="{{ cat.id }}">{{ cat }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="input-field">
                            <i class="material-icons pointer tooltipped" id="icon-location" style="color: #BDBDBD;"
                               data-position="bottom" data-delay="50"
                               data-tooltip="Obtener mi ubicación">near_me</i>
                            <input class="form-control white-input" type="text" name="ubicacion" id="ubicacion"
                                   onkeyup="buscarUbicacion()" placeholder="¿Dónde lo buscas?">
                            <input type="hidden" name="latitud" id="id_latitud">
                            <input type="hidden" name="longitud" id="id_longitud">
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="input-field">
                            <input type="text" name="query" placeholder="¿Qué estás buscando?"
                                   class="autocomplete white-input" autofocus style="text-align: left!important;"
                                   id="query-autocomplete">
                        </div>
                    </div>
                    <div class="col s12 m2 col-centered">
                        <div class="input-field m-t-md">
                            <button type="submit" class="btn-large btn-block action"><i
                                    class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="" style="background: #fff; min-height: 30vh;">
        <div class="container">
            <div class="row section m-b-none">
                <div class="col s12 center-align">
                    <h3 style="font-weight: normal;" class="m-t-sm m-b-none">¡Registra tu negocio hoy!</h3>
                    <p>Obtén 10 días de prueba totalmente gratis.</p>
                    <a href="{% url 'negocios_app:registrar_negocio' %}"
                       class="waves-effect waves-light btn-large accent no-shadow">Comienza
                        ahora</a>
                </div>
            </div>
        </div>
        <div class="row section m-t-xxl">
            <div class="col s12 m7 l6">
                <img src="{% static 'base/img/mockup.png' %}" data-aos="fade-right" alt="mockup" class="m-t-lg"
                     id="mockup">
            </div>
            <div class="col s12 m5 l4 offset-l1 m-t-xl">
                <h4>
                    ¡Haz que más clientes
                    <br> te encuentren!
                </h4>
                <p class="lead font-300 justify">
                    Ahora podrás controlar citas desde tu computadora o celular. Crea una cuenta y disfruta de todos
                    nuestros beneficios.
                </p>
                <a class="btn-large action btn-action-border no-shadow" data-aos="fade-left"
                   href="{% url 'usuarios_app:beneficios' %}">
                    Conoce más <i class="material-icons right">chevron_right</i>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="">
        <div class="container section">
            <div class="row section">
                <div class="col s12 center-align">
                    <h2 class="special-font m-t-md">
                        miPetdate
                    </h2>
                    <h4 class="grey-text text-darken-1" data-aos="fade-up">
                        Demuéstrales tu amor. Elige entre los mejores especialistas y reserva citas con ellos.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="slick-container" data-aos="zoom-in">
        <img src="{% static 'base/img/home/1.jpg' %}">
        <img src="{% static 'base/img/home/2.jpg' %}">
        <img src="{% static 'base/img/home/3.jpg' %}">
        <img src="{% static 'base/img/home/4.jpg' %}">
        <img src="{% static 'base/img/home/5.jpg' %}">
    </div>
    <div id="section-como-funciona">
        <div class="container section">
            <div class="row section m-b-none">
                <div class="col s12 m7">
                    <h3><b>¿Cómo funciona?</b></h3>
                    <div class="section">
                        <div class="row ">
                            <div class="col s3 center-align">
                                <div class="m-t-sm" data-aos="zoom-in">
                                    <img src="{% static 'base/img/icons/search.png' %}" alt="buscar">
                                </div>
                            </div>
                            <div class="col s9">
                                <h5>Busca un servicio</h5>
                                <p class="no-margins">Encuentra especialistas cerca de ti</p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col s3 center-align">
                                <div class="m-t-sm" data-aos="zoom-in">
                                    <img src="{% static 'base/img/icons/dog.png' %}" alt="mascota">
                                </div>
                            </div>
                            <div class="col s9">
                                <h5>Registra tu mascota</h5>
                                <p class="no-margins">Crea una cuenta y perfil con nosotros</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3 center-align">
                                <div class="m-t-sm" data-aos="zoom-in">
                                    <img src="{% static 'base/img/icons/calendar.png' %}" alt="cita">
                                </div>
                            </div>
                            <div class="col s9">
                                <h5>Solicita una cita</h5>
                                <p class="no-margins">Elige la fecha y hora que más te convengan</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3 center-align">
                                <div class="m-t-sm" data-aos="zoom-in">
                                    <img src="{% static 'base/img/icons/heart.png' %}" alt="amor">
                                </div>
                            </div>
                            <div class="col s9">
                                <h5>Hora de consentirlos</h5>
                                <p class="no-margins">Acude a tu cita y déjalo en las mejores manos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="//maps.google.com/maps/api/js?key=AIzaSyC6UBtxDBeoxSoenu2vBIpgjcuRSk-O29Q&libraries=places"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="{% static 'geoposition.js' %}"></script>
    <script src="{% static 'base/js/morphext.min.js' %}"></script>
    <script src="{% static 'base/js/aos.js' %}"></script>
    <script>
        AOS.init({
            offset: 200,
            duration: 800,
            easing: 'ease-out-quad',
            delay: 100,
            once: true,
            anchorPlacement: 'bottom-bottom',
            disable: 'mobile'
        });
        $("#span-morphext").Morphext({
            // The [in] animation type. Refer to Animate.css for a list of available animations.
            animation: "fadeInDown",
            // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
            separator: ",",
            // The delay between the changing of each phrase in milliseconds.
            speed: 2000,
            complete: function () {
                // Called after the entrance animation is executed.
            }
        });
        $(function () {

            $('.slick-container').slick({
                autoplay: true,
                autoplaySpeed: 2000,
                slidesToShow: 3,
                infinite: true,
                mobileFirst: true,
                centerMode: true,
                variableWidth: true
            });

            processGeocoder;
            getUserLocation();
            {% if latitud != '' and longitud %}
                var geocoder = new google.maps.Geocoder();
                var punto = new google.maps.LatLng({{ latitud }}, {{ longitud }});
                geocoder.geocode({'latLng': punto}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        // $('#spanUbicacion').text(results[0].formatted_address)
                        //find country name
                        for (var i = 0; i < results[0].address_components.length; i++) {
                            for (var b = 0; b < results[0].address_components[i].types.length; b++) {

                                //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                                if (results[0].address_components[i].types[b] == "route" || results[0].address_components[i].types[b] == "administrative_area_level_2") {
                                    //this is the object you are looking for
                                    city = results[0].address_components[i];
                                    break;
                                }
                            }
                        }
                        //city data
                        // alert(city.short_name + " " + city.long_name)
                        $('#spanUbicacion').text(city.long_name);
                        document.getElementById("ubicacion").value = city.long_name;
                        buscarUbicacion();
                    }
                });
            {% endif %}
        });

        $('#icon-location').click(getUserLocation);

        function processGeocoder(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    // console.log(results[0].formatted_address);
                    // document.getElementById("ubicacion").value = 'Mi ubicación';
                    for (var i = 0; i < results[0].address_components.length; i++) {
                        for (var b = 0; b < results[0].address_components[i].types.length; b++) {

                            //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                            if (results[0].address_components[i].types[b] == "route" || results[0].address_components[i].types[b] == "administrative_area_level_2") {
                                //this is the object you are looking for
                                city = results[0].address_components[i];
                                break;
                            }
                        }
                    }
                    document.getElementById("ubicacion").value = city.long_name;
                    $('#icon-location').addClass('accent-text');

                } else {
                    console.log("google no encontro la direccion");
                    $('#icon-location').removeClass('accent-text');
                }
            } else {
                console.log("geocoding falló debido a :" + status);
                $('#icon-location').removeClass('accent-text');
            }
        }

        function getUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                        function (objPosition) {
                            var lon = objPosition.coords.longitude;
                            var lat = objPosition.coords.latitude;
                            console.log("latitud: " + lat);
                            console.log("longitud: " + lon);
                            document.getElementById("id_latitud").value = lat;
                            document.getElementById("id_longitud").value = lon;
                            var geocoder = new google.maps.Geocoder();
                            var miLocalizacion = new google.maps.LatLng(lat, lon);
                            geocoder.geocode({'latLng': miLocalizacion}, processGeocoder)

                        },
                        function (objPositionError) {
                            switch (objPositionError.code) {
                                case objPositionError.PERMISSION_DENIED:
                                    console.log("No se ha permitido el acceso a la posición del usuario.");
                                    break;
                                case objPositionError.POSITION_UNAVAILABLE:
                                    console.log("No se ha podido acceder a la información de su posición.");
                                    break;
                                case objPositionError.TIMEOUT:
                                    console.log("El servicio ha tardado demasiado tiempo en responder.");
                                    break;
                                default:
                                    console.log("Error desconocido.");
                            }
                        },
                        {
                            maximumAge: 75000,
                            timeout: 15000
                        });
            }
            else {
                console.log("Su navegador no soporta la API de geolocalización.");
            }
        }
        function buscarUbicacion() {
            geocoder = new google.maps.Geocoder();
            address = jQuery("#ubicacion").val();
            $('#icon-location').removeClass('accent-text');
            geocoder.geocode({'address': address}, function (result, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitud = result[0].geometry.location.lat();
                    var longitud = result[0].geometry.location.lng();
                    // console.log(latitud);
                    // console.log(longitud);
                    document.getElementById("id_latitud").value = latitud;
                    document.getElementById("id_longitud").value = longitud;
                }
            });
        }

        var input = document.getElementById('ubicacion');
        var options = {
            types: ['(cities)'],
            componentRestrictions: {country: 'mx'}
        };

        autocomplete = new google.maps.places.Autocomplete(input, options);

    </script>
    <script>

        var navbarFixed = $('<div class="navbar-fixed"></div>'),
                nav = $('nav');

        nav.removeClass('primary').addClass('white animated');
        nav.appendTo(navbarFixed);
        $('body').prepend(navbarFixed);

        /*
         $(window).on("scroll", function () {
         if ($(window).scrollTop() > 10) {
         nav.removeClass("transparent no-shadow").addClass('white black-text');
         } else {
         //remove the background property so it comes transparent again (defined in your css)
         nav.addClass("transparent no-shadow").removeClass('white black-text');
         }
         });
         */

    </script>
{% endblock %}