{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Terminos Y Condiciones
{% endblock %}


{% block styles %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="text-align: justify;">
            <div class="col s12 m10 l9">
                <div class="section scrollspy" id="legal">
                    <h4><b>AVISO LEGAL IMPORTANTE</b></h4>
                    <p>
                        Este apartado engloba los términos, condiciones y políticas de privacidad ("Condiciones de uso")
                        presentes en los servicios brindados y acreditados por Claudia Yolanda González Vargas ("Mi
                        Petdate") a través de la página web <a href="www.mipetdate.com ">www.mipetdate.com </a> (en lo
                        sucesivo “Web” o “Plataforma web”). Se le solicita lea atentamente estas Condiciones de uso
                        antes de formalizar alguna actividad en nuestra página; si Ud. no aprueba dichas cláusulas
                        deberá abandonar la Web inmediatamente, renunciando a los beneficios otorgados por la misma; en
                        caso contrario, queda entendido su consentimiento.
                    </p>
                    <p>
                        Nos reservamos el derecho a modificar las presentes Condiciones de uso, dando como estipulada
                        la &uacute;ltima
                        actualizaci&oacute;n el d&iacute;a 15 de agosto del 2016. Le recomendamos mantener una copia de
                        estos apartados
                        para futuras
                        referencias. Por favor tenga en cuenta que cualquier menci&oacute;n al t&eacute;rmino “Web”
                        mostrado
                        en este
                        acuerdo incluye
                        cualquier versi&oacute;n actual o futura de la plataforma digital <a
                            href="{{ direccion }}">www.mipetdate.com.</a>
                    </p>
                    <p>
                        Permanece restringida la reproducci&oacute;n, alteraci&oacute;n y extracci&oacute;n de alguna
                        parte
                        de esta
                        Plataforma web en otro
                        sitio digital o medio tradicional. De igual manera, queda prohibida la inclusi&oacute;n de alg&uacute;n
                        sistema,
                        servicio
                        electr&oacute;nico de recuperaci&oacute;n, p&uacute;blico o privado, sin permiso escrito previo.
                    </p>
                </div>
                <div class="section scrollspy" id="condiciones">
                    <h4><b>I. T&Eacute;RMINOS Y CONDICIONES</b></h4>
                    <div class="section">
                        <h5><b>INTRODUCCI&Oacute;N</b></h5>
                        <p>
                            Somos una plataforma digital que ofrece un servicio mediante el cual Ud. podr&aacute;
                            solicitar
                            citas (“Citas”)
                            a
                            prestadores de servicios (“Especialistas”) expertos en el cuidado de mascotas en M&eacute;xico,
                            beneficiando el
                            contacto entre los clientes y la asistencia en los animales.
                        </p>
                        <p>
                            Las &aacute;reas de esta Plataforma web est&aacute;n abiertas a todo el mundo; se podr&aacute;n
                            visitar y
                            acceder sin necesidad de
                            concluir un pedido y/o registrar sus datos. Al efectuar operaciones dentro de la Web, como
                            facilitar
                            Datos
                            Personales y generar Pedidos, usted garantiza que:
                        </p>
                        <ol>
                            <li>Tiene la capacidad legal necesaria para celebrar contratos vinculantes; y</li>
                            <li>Cumple con la mayor&iacute;a de edad estipulada por el pa&iacute;s de residencia.</li>
                        </ol>
                    </div>
                    <div class="section">
                        <h5><b>USUARIOS</b></h5>
                        <p>
                            1.1. Solicitud de una cita: Una vez elegidos los servicios a obtener por parte de los
                            Especialistas, podrá efectuar Citas tras presionar el botón de “Solicitar”. Se le recuerda
                            que es importante cerciorarse que toda información introducida sea correcta, ya que no
                            podrán corregirse errores en etapas sucesivas.
                        </p>
                        <p>
                            1.2. Cancelaci&oacute;n de una cita: En caso de ser necesario la cancelaci&oacute;n o
                            modificaci&oacute;n
                            de
                            Citas, Ud. debe tener
                            contacto directo con los Especialistas y notificar dicho cambio. La Plataforma web queda
                            exenta
                            de
                            este servicio
                            al momento de proporcionarle a Ud. los datos sensibles del prestador de servicio.
                        </p>
                        <p>
                            Desaprobaci&oacute;n del especialista: Al finalizar su petici&oacute;n, la Empresa procesar&aacute;
                            la informaci&oacute;n
                            y anunciar&aacute; su
                            solicitud al prestador del servicio, dando libertad al mismo para aceptar o rechazar Citas.
                            Una
                            vez
                            definido el
                            estado de su solicitud, Ud. ser&aacute; notificado (v&iacute;a correo electr&oacute;nico) de
                            dicha
                            resoluci&oacute;n.
                            Por favor tenga en
                            cuenta que los Especialistas pueden rechazar Citas en cualquier momento por condiciones
                            laborales,
                            meteorol&oacute;gicas u otro motivo.
                        </p>
                        <p>
                            Finalización del servicio: El servicio concluirá cuando la cita se consuma y los
                            Especialistas confirmen dicho evento. Le recordamos es de gran valor compartir su
                            experiencia en nuestra Web, mismo que se podrá realizar dejando comentarios en el perfil del
                            negocio en cuestión.
                        </p>
                    </div>
                    <div class="section">
                        <h5><b>ESPECIALISTAS</b></h5>
                        <p>
                            2.1. Contrataci&oacute;n del servicio: Para adquirir el servicio que ponemos a su disposici&oacute;n,
                            es
                            necesario que ingrese
                            al apartado “Registrar Negocio”, ubicado en la parte superior izquierda en la Web. De igual
                            manera,
                            queda bajo
                            su responsabilidad la lectura y comprensi&oacute;n de los beneficios que se otorgan al
                            suscribirse;
                            si a&uacute;n
                            muestra
                            inter&eacute;s, Ud. debe llenar los campos vac&iacute;os del formulario mostrado.
                        </p>
                        <p>
                            2.2. Suscripción: miPetdate pone a su alcance un sistema de gestión y optimización de
                            procesos organizativos,
                            2.2.1. Soporte seguro para que clientes soliciten Citas, aumentando la cantidad de
                            servicios;
                            2.2.2. Espacio libre y confiable para hacer destacar sus servicios, precios y cualidades
                        </p>
                        <p>
                            2.3. Liquidación del pago: Para poder hacer uso de los beneficios mencionados en el apartado
                            2.2, Ud. deberá ingresar a la sección “Registrar Negocio”, presionar el botón de
                            suscribirse, crear una cuenta, brindar Datos Personales, aprobar los precios establecidos,
                            garantizar el entendimiento de las Condiciones de uso y, realizar el pago de la suscripción
                            con nuestro proveedor externo y especialista en pagos online (“PayPal”).
                        </p>
                        <p>
                            2.4. Autorización del pago: Para mayor comodidad dejamos a su disposición pagos seguros en
                            línea, el cargo se efectuará una vez que Ud. ingrese a su cuenta de PayPal y autorice dicha
                            transacción; recibirá una notificación (vía e-mail) una vez que el pago haya sido
                            autorizado. Con esto se da inicio a la suscripción dejando a su disposición el registro de
                            perfil de usuario, sistema de agenda y la herramienta para aceptar y rechazar Citas. Queda
                            estipulado el día de autorización del pago como la fecha de inicio a las actividades,
                            atribuyendo un periodo de treinta días naturales, a partir de ese momento, para hacer uso de
                            nuestros servicios.
                        </p>
                        <p>
                            2.5. Cancelaci&oacute;n del servicio: Para nosotros es muy importante su satisfacci&oacute;n
                            por
                            lo
                            que la
                            suspensi&oacute;n de
                            nuestro servicio no conlleva ning&uacute;n gasto adicional al pago ya realizado. Se
                            recomienda
                            hacer
                            uso de la
                            Plataforma web hasta el plazo costeado; en caso contrario le pedimos elimine toda informaci&oacute;n
                            brindada
                            para que
                            los Usuarios no le soliciten Citas. El no finiquitar la cantidad monetaria de nuestros
                            servicios
                            en
                            el periodo
                            establecido (cada treinta d&iacute;as) implica, de manera absoluta, la eliminaci&oacute;n
                            inmediata
                            de la cuenta
                            y servicios
                            otorgados a los Especialistas.
                        </p>
                    </div>
                    <div class="section">
                        <h5><b>ATENCI&Oacute;N AL CLIENTE</b></h5>
                        <p>
                            3.1. Servicio al cliente: Para nosotros es primordial su satisfacción, por ende, ponemos a
                            su disposición un equipo de Atención al Cliente para solucionar cualquier inconveniente o
                            duda que se pudiera presentar. Dicha comunicación puede concretarse seleccionando la opción
                            “Preguntas frecuentes” y posteriormente dirigiéndose a la sección “Contacto"; de igual
                            manera, puede abrir un diálogo con nosotros al presionar el icono en forma de correo que
                            aparece en la parte inferior derecha de la Web.
                        </p>
                        <p>
                            3.2. Quejas o sugerencias: Si Ud. no est&aacute; satisfecho con el servicio brindado por los
                            Especialistas, le
                            pedimos
                            considere oportuno presentar dicha informaci&oacute;n en forma de calificaciones,
                            comentarios y
                            rese&ntilde;as
                            dentro de la
                            Web (en conjunto, "Comentarios") para manifestar su experiencia.
                        </p>
                        <p>
                            3.3. Indemnizaci&oacute;n: Si las Citas no cumplen con sus expectativas y desea un
                            reembolso,
                            reducci&oacute;n
                            proporcional
                            del precio o cualquier otro tipo de compensaci&oacute;n, Ud. deber&aacute; ponerse en
                            contacto y
                            presentar una
                            reclamaci&oacute;n
                            directamente con los Especialistas y, en su caso, seguir los procedimientos de reclamaci&oacute;n
                            que disponga
                            el
                            mismo. Si no logra crear un contacto o dicho prestador de servicio se reh&uacute;sa a
                            atenderle,
                            puede
                            comunicarse con
                            nuestro Servicio de Atenci&oacute;n al Cliente para que uno de nuestros asesores se ponga en
                            contacto con el
                            mismo y
                            solicite una indemnizaci&oacute;n a su favor. Es importante remarcar que no tenemos ning&uacute;n
                            control sobre
                            los
                            Especialistas y sobre la calidad de los servicios que ofertan, por lo que no podemos
                            hacernos
                            cargo
                            de ninguna
                            responsabilidad o compensaci&oacute;n que pudiera corresponder al mismo.
                        </p>
                    </div>
                    <div class="section">
                        <h5><b>CONTENIDOS Y CONDUCTA DEL USUARIO</b></h5>
                        <p>
                            4.1. Información adicional: En miPetdate únicamente somos responsables de toda aquella
                            información personal sujeta a las políticas de privacidad con las que contamos, todo
                            contenido que usted introduzca o cuelgue en la Plataforma web será considerado como no
                            confidencial y no privado ("Contenido del Usuario"). Ud. es consiente que no tenemos ningún
                            compromiso respecto a dicho contenido siendo posible el ser copiado, revelado, distribuido,
                            incorporado y utilizado de cualquier otra forma, así como los componentes del mismo, ya sea
                            para efectos comerciales o no comerciales.
                        </p>
                        <p>
                            4.2. Pol&iacute;ticas del Contenido del Usuario: Queda totalmente prohibido publicar y
                            descargar
                            en
                            o desde la
                            Web
                        </p>
                        <p>
                            4.3. Políticas de los Comentarios del Usuario: En particular (pero sin limitación) todas las
                            observaciones y
                            4.3.1. Infringir los derechos de propiedad intelectual o industrial de ninguna otra persona;
                            4.3.2. Utilizarse haciéndose pasar por otra persona o falseando su vinculación con otros.
                        </p>
                        <p>
                            4.4. Modificaci&oacute;n de Comentarios: La Empresa se reserva el derecho (sin obligaci&oacute;n
                            a
                            menos que la
                            ley lo
                            demande) a eliminar o cambiar las opiniones y dem&aacute;s contenidos publicados por los
                            usuarios en
                            la
                            Plataforma web,
                            priorizando el contenido cuyas caracter&iacute;sticas caigan en las estipulaciones de los
                            apartados
                            anteriores.
                        </p>
                        <p>
                            4.5. Uso del Contenido: Los Comentarios y el Contenido de los Usuarios son para fines
                            informativos,
                            estos no
                            establecen asesoramiento alguno de nuestra parte. Las opiniones mostradas reflejan la
                            experiencia
                            previa de los
                            usuarios; cualquier declaraci&oacute;n brindada por dichas personas son s&oacute;lo de
                            ellos. En
                            consecuencia, y
                            en la medida
                            que la legislaci&oacute;n lo ratifique, no tomamos ning&uacute;n compromiso frente a
                            terceros
                            por
                            dicha
                            informaci&oacute;n, incluido
                            y sin limitaci&oacute;n, cualquier error, difamaci&oacute;n, obscenidad, omisiones o
                            falsedades
                            que
                            sean
                            incluidos en estos.
                        </p>
                    </div>
                    <div class="section">
                        <h5><b>EXONERACI&Oacute;N DE RESPONSABILIDAD</b></h5>
                        <p>
                            5.1. Información de la Web: miPetdate busca que el contenido proporcionado sea verídico, a
                            pesar de esto, no nos comprometemos a que esté actualizado y preciso. De igual manera, somos
                            autónomos de consumar cambios en cualquier momento y sin previo aviso en el contenido de la
                            Plataforma web, como en los servicios y precios descritos.
                        </p>
                        <p>
                            5.2. Operaciones y descuidos del especialista: Nosotros solamente fungimos como v&iacute;nculo
                            entre
                            el
                            prestador y el
                            solicitante del servicio, no tenemos ning&uacute;n control sobre las acciones u omisiones de
                            los
                            Especialistas.
                            Mediante el uso de la Web, usted acepta y reconoce, sin car&aacute;cter restrictivo, que:
                            5.3.1. No nos responsabilizamos de que los servicios solicitados a Especialistas, a trav&eacute;s
                            de
                            nuestra
                            Web, vayan
                            a ser de calidad satisfactoria o adecuada en su opini&oacute;n.
                            5.3.2. Informamos a los Especialistas afiliados la importancia de aceptar todas las
                            solicitudes
                            de
                            Citas, o
                            comunicar cualquier rechazo inmediatamente para notificarle a Ud. (v&iacute;a correo electr&oacute;nico)
                            a la
                            mayor brevedad
                            posible. A pesar de esto, no podemos asegurar que su solicitud no sea rechazada en cualquier
                            momento, debido a
                            razones laborales de dicho negocio.
                        </p>
                    </div>
                    <div class="section">
                        <h5><b>RESPONSABILIDAD</b></h5>
                        <p>
                            6.1. Exclusi&oacute;n de responsabilidad: Bajo ning&uacute;n acontecimiento la Empresa
                            responder&aacute;,
                            aunque
                            surja de o en
                            6.1.5. Entre otros.
                        </p>
                        <p>
                            6.2. Limitación de la responsabilidad: En el supuesto caso que miPetdate realice algún
                            incumplimiento de las Condiciones de uso de esta Web o tome medidas externas a las
                            estipuladas, se deberá responder (de manera limitada) con el pago equivalente a dos veces el
                            valor del servicio elegido o 1,500MXN, optando por el monto de menor valor monetario.
                        </p>
                        <p>
                            6.3. Costes adicionales: Usted debe asumir todos los gastos asociados al mantenimiento,
                            reparaci&oacute;n
                            o
                            correcci&oacute;n
                            de su equipo, software o datos provenientes del manejo, por su parte, del contenido de esta
                            Plataforma web;
                            quedan incluidos, sin limitaci&oacute;n, cualquier coste resultante del diagn&oacute;stico.
                        </p>
                    </div>
                </div>
                <div class="section scrollspy" id="privacidad">
                    <h4><b>II. AVISO DE PRIVACIDAD</b></h4>
                    <div class="section">
                        <h5><b>DATOS PERSONALES</b></h5>
                        <p>
                            1.1. Regulaciones legales: miPetdate respeta y acuerda con las variables regulatorias del
                            marco legal de los Estados Unidos Mexicanos, referentes a la protección de datos (de
                            carácter personal) de sus usuarios. A fin de dar cumplimiento a lo anterior, hacemos
                            práctica de la LEY FEDERAL DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE LOS
                            PARTICULARES, su REGLAMENTO y los LINEAMIENTOS DEL AVISO DE PRIVACIDAD.
                        </p>
                        <p>
                            1.2. Datos Personales solicitados: Se establece como datos personales toda aquella
                            información perteneciente a personas naturales, identificadas o no identificadas (en
                            adelante “Datos Personales”). Los Datos Personales recogidos por la Empresa pueden ser
                            brindados por su titular; o bien, pueden ser recolectados desde fuentes accesibles al
                            público. Dichos datos serán sometidos a un proceso de automatización para su futura adición
                            a la base interna de miPetdate, la cual no es accesible al público. De igual manera queda
                            facultada su utilización para análisis de datos por parte de proveedores externos.
                        </p>
                        <p>
                            Entre los Datos Personales que solicitamos, se encuentran: datos de identificaci&oacute;n
                            (nombre
                            completo y
                            direcci&oacute;n
                            IP), datos de localizaci&oacute;n (domicilio y/o geo-localizaci&oacute;n por GPS), datos de
                            contacto
                            (tel&eacute;fono
                            y correo
                            electr&oacute;nico), datos de autenticidad (nombre de usuario y contrase&ntilde;a).
                            Asimismo,
                            podemos hacer uso
                            de la
                            informaci&oacute;n autorizada por Facebook®, en caso de ingresar a la Plataforma web con una
                            cuenta
                            de dicha red
                            social.
                        </p>
                        <p>
                            1.3. Uso de los Datos Personales: Toda informaci&oacute;n que Ud. proporcione ser&aacute;
                            empleada
                            en las
                            operaciones de la
                            Empresa, tales como:
                        <ol>
                            <li>
                                Proponer productos (bienes y servicios) con base en sus preferencias y ubicaci&oacute;n
                                actual;
                            </li>
                            <li>
                                Facilitar un espacio digital para consumar Citas orientados en las necesidades
                                requeridas
                                por su
                                mascota;
                            </li>
                            <li>
                                Brindar informaci&oacute;n relevante de los prestadores de servicios;
                            </li>
                            <li>
                                Controlar las solicitudes realizadas, gestionando el proceso de aceptaci&oacute;n, la
                                asistencia
                                a Citas y
                                la
                                retroalimentaci&oacute;n del servicio;
                            </li>
                            <li>
                                Difundir y promocionar acontecimientos de interés sobre miPetdate, Especialistas, etc.
                            </li>
                        </ol>
                        <p>
                            1.4. Seguridad de datos: La transmisi&oacute;n de informaci&oacute;n a trav&eacute;s de
                            internet
                            no
                            es
                            completamente segura, por
                            ende, no podemos cerciorar la seguridad de sus Datos Personales transmitidos en la Web;
                            cualquier
                            permiso ser&aacute;
                            a
                            su propio riesgo. Por nuestra parte, prometemos tomar las medidas necesarias para evitar la
                            p&eacute;rdida,
                            mal
                            uso,
                            transformaci&oacute;n, acceso no delegado y/o apropiaci&oacute;n de sus datos. La Empresa
                            tiene
                            la
                            capacidad de
                            exponer Datos
                            Personales en caso de ser requeridos por mandato legal o por una orden judicial, as&iacute;
                            como
                            en
                            casos donde
                            sean
                            indispensables para preservar los derechos otros usuarios o terceros.
                        </p>
                        <p>
                            1.5. TyC’s no aceptadas: Ud. queda en completa libertad de negarse al manejo de Datos
                            Personales
                            para las
                            finalidades indicadas en el apartado 1.3 (Uso de los Datos Personales); sin embargo, esto
                            podr&iacute;a
                            afectar
                            de
                            manera directa el servicio que brindamos, por lo que Ud. asume las derivaciones que esto
                            conlleva.
                        </p>
                        <p>
                            1.6. Datos Personales no respaldados: La Empresa no se hace responsable de:
                        <ol>
                            <li>
                                Los Datos Personales que el Usuario facilite a sitios web externos a nosotros, aunque se
                                haya
                                ingresado
                                mediante enlaces (links) mostrados en la Plataforma web;
                            </li>
                            <li>
                                Toda aquella informaci&oacute;n que el Usuario aporte al comunicarse con otros usuarios
                                a
                                trav&eacute;s
                                de
                                chats,
                                Comentarios, correos electr&oacute;nicos u otras actividades similares. El usuario debe
                                ser
                                prudente en
                                cuanto a la
                                informaci&oacute;n que comparte con otros;
                            </li>
                            <li>
                                El contenido adquirido mediante fuentes de acceso p&uacute;blico.
                            </li>
                        </ol>
                        <p>
                            1.7. Permiso de cookies: El uso de cookies requeridos por la Plataforma web tiene como fin
                            facilitar
                            el acceso,
                            brindar una experiencia satisfactoria y proporcionar estad&iacute;sticas con otras
                            plataformas
                            digitales (Google
                            Analytics); a pesar de esto, la decisi&oacute;n de su uso ser&aacute; totalmente del
                            usuario.
                        </p>
                        <p>
                            1.8. Conformidad de Condiciones de Uso: Al momento de presionar el recuadro “He leído y
                            estoy conforme con las condiciones de uso”, queda declarado que: como usuario autoriza el
                            uso de Datos Personales solicitados por miPetdate, y que tiene un plena comprensión y
                            aprobación respecto a nuestras Condiciones de uso de la Web.
                        </p>
                        <p>
                            Favor de manifestar cualquier recomendaci&oacute;n en cuanto a las Condiciones de uso a
                            contacto@mipetdate.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="col hide-on-small-only m2 l3">
                <p class="bold m-b-none pinned">Secciones:</p>
                <ul class="table-of-contents pinned" style="top: 8em;">
                    <li><a href="#legal">Aviso legal</a></li>
                    <li><a href="#condiciones">Términos y condiciones</a></li>
                    <li><a href="#privacidad">Aviso de privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.scrollspy').scrollSpy();
        });
    </script>
{% endblock %}
