<div class="col s12 m6 l4">
    <a class="black-text" href="{% url 'negocios_app:negocio_view' negocio.slug %}">
        <div class="card negocio-card animated">
            <div class="card-image imagen-negocio-card" id="imagen-negocio{{ forloop.counter }}">
                <style>
                    #imagen-negocio{{ forloop.counter }} {
                        background: url({{ negocio.get_cover_image_url }}) center center;
                        background-size: cover;
                        padding-bottom: 56%;
                    }
                </style>
                <span class="card-title truncate">
                                {{ negocio.nombre }}
                            </span>
            </div>
            <div class="card-content">
                {% if negocio.descripcion %}
                    <p class="truncate">{{ negocio.descripcion }}</p>
                {% endif %}
                {% if negocio.direccion %}
                    <p class="grey-text truncate">{{ negocio.direccion }}</p>
                {% endif %}
                <div class="m-t-sm truncate">
                    {% for categoria in negocio.categorias.all %}
                        <div class="chip">{{ categoria.nombre_publico }}</div>
                    {% endfor %}
                </div>
                <div class="row m-b-none">
                    <div class="col s12">
                        {% if negocio.get_rating %}
                            <b class="inline">{{ negocio.get_rating }}</b>
                            <div class="stars-container inline">
                                <div class="stars-top"
                                     style="width: {% widthratio negocio.get_rating 5 100 %}%;">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="stars-bottom">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                        {% else %}
                            <p class="grey-text m-t-xs">Sin calificación</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>