{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    ¿Cómo funciona?
{% endblock %}

{% block styles %}
    <style>

        body {
            width: 100vw;
            overflow-x: hidden;
        }

        .parallax-container {
            width: 100vw;
            height: 300px;
        }

        .valign {
            width: inherit;
        }

        #mockup {
            width: 130%;
            left: -20%;
            top: -50px;
            position: relative;
        }

        hr {
            border: 0;
            margin: 0;
            border-top: 1px solid #e0e0e0;
        }

        .features {
            font-size: 14pt;
            padding: 40px 0;
        }

        .features i {
            font-size: 3em;
        }

        input {
            margin-bottom: 0 !important;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="parallax-container valign-wrapper">
        <div class="parallax">
            <div class="black-filter"></div>
            <img src="{% static 'base/img/huskey.jpeg' %}">
        </div>
        <div class="valign">
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align white-text">
                        <h3><b>Anúnciate y controla tu negocio online</b></h3>
                        <h5>
                            Con miPetdate lleva el registro de tus citas fácilmente
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-md m-b-none">
        <div class="col s12 center-align">
            <h4>Beneficios</h4>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col s12 m6 l3 col-centered">
            <div class="features center-align">
                <img src="{% static 'base/img/icons/24.png' %}" alt="24">
                <h5>
                    Reservaciones 24/7
                </h5>
            </div>
        </div>
        <div class="col s12 m6 l3 col-centered">
            <div class="features center-align">
                <img src="{% static 'base/img/icons/calendar.png' %}" alt="citas">
                <h5>
                    Mayor número de citas
                </h5>
            </div>
        </div>
        <div class="col s12 m6 l3 col-centered">
            <div class="features center-align">
                <img src="{% static 'base/img/icons/user.png' %}" alt="clientes">
                <h5>
                    Nuevos clientes
                </h5>
            </div>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col s12 m6 l3 col-centered">
            <div class="features center-align">
                <img src="{% static 'base/img/icons/growth.png' %}" alt="productividad">
                <h5>
                    Aumento de productividad
                </h5>
            </div>
        </div>
        <div class="col s12 m6 l3 col-centered">
            <div class="features center-align">
                <img src="{% static 'base/img/icons/hourglass.png' %}" alt="tiempos muertos">
                <h5>
                    Menos tiempos muertos
                </h5>
            </div>
        </div>
        <div class="col s12 m6 l3 col-centered">
            <div class="features center-align">
                <img src="{% static 'base/img/icons/get-money.png' %}" alt="ingresos">
                <h5>
                    Incremento de ingresos
                </h5>
            </div>
        </div>
    </div>
    <div class="accent white-text section">
        <div class="container">
            <div class="row section m-b-none">
                <div class="col s12 m6 l6 center-align">
                    <h2 class="m-t-sm">¡Suscríbete hoy!</h2>
                    <h5>Todos los beneficios por $320 al mes</h5>
                    <p class="grey-text text-lighten-2 m-t-none m-b-none">* Pago mes con mes</p>
                </div>
                {% if user.is_authenticated %}
                    {% if user.tiene_negocios %}
                        <div class="col s12 m8 l5 offset-l1 center-align m-t-lg">
                            {% if not user.tiene_suscripcion %}
                                <p class="lead">
                                    Paga tu suscripción de manera segura mediante PayPal©
                                </p>
                                <a href="">
                                    <img src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/btn_10.png"
                                         alt="paypal"/>
                                </a>
                            {% else %}
                                <p class="lead">
                                    ¡Felicidades!, cuentas con una suscripción activa hasta
                                    el {{ user.suscripcionusuario.fecha_limite }}
                                </p>
                                <a href="{% url 'negocios_app:negocios_usuario' %}" class="btn-large action">
                                    Ir a mis negocios
                                </a>
                            {% endif %}
                            {% comment %}
                                {% if contacto_form %}
                                    <form action="{% url 'usuarios_app:beneficios' %}" method="POST"
                                          id="form-beneficios">
                                        {% csrf_token %}
                                        {% for field in contacto_form %}
                                            <div class="input-field">
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                        <button type="submit" class="btn-large btn-block bold action m-t-md center"
                                                id="btn-info">
                                            ¡Solicitar información!
                                        </button>
                                    </form>
                                {% endif %}
                            {% endcomment %}
                        </div>
                    {% else %}
                        <div class="col s12 m8 l5 offset-l1 center-align m-t-xl">
                            <p style="font-size: 16pt;" class="m-t-none">Obtén 10 días de prueba totalmente gratis</p>
                            <a class="btn-large action" href="{% url 'negocios_app:registrar_negocio' %}">Registrar
                                negocio</a>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col s12 m8 l5 offset-l1 center-align m-t-xl">
                        <p style="font-size: 16pt;" class="m-t-none">Obtén 10 días de prueba totalmente gratis</p>
                        <a class="btn-large action" href="{% url 'negocios_app:registrar_negocio' %}">Registrar
                            negocio</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row section m-t-xxl">
        <div class="col s12 m7 l6">
            <img src="{% static 'base/img/mockup.png' %}" data-aos="fade-right" alt="mockup" class="m-t-lg"
                 id="mockup">
        </div>
        <div class="col s12 m5 l4 offset-l1 m-t-xl">
            <h4>
                ¡Haz que más clientes
                <br> te encuentren!
            </h4>
            <p class="lead font-300 justify">
                Ahora podrás controlar citas desde tu computadora o celular. Crea una cuenta y disfruta de todos
                nuestros beneficios.
            </p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var navbarFixed = $('<div class="navbar-fixed"></div>'),
                nav = $('nav');

        nav.removeClass('primary').addClass('white animated');
        nav.appendTo(navbarFixed);
        $('body').prepend(navbarFixed);

        $('#form-beneficios').on('submit', function () {
            addSpinner($('#btn-info'));
        })
    </script>
{% endblock %}