{% extends 'base/base.html' %}
{% load static from staticfiles %}


{% block title %}
    Busca negocios
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/stars.css' %}">

    <style>
        @media all and (min-width: 996px) {
            #header {
                width: 100%;
            {% if user.is_authenticated %}
                top: -20px;
            {% endif %}
                position: relative;
            }
        }
    </style>

{% endblock %}


{% block content %}

    <div class="valign-wrapper grey lighten-4" id="header">
        <div class="container valign white-text">
            <form action="{% url 'negocios_app:buscar_negocios' %}" method="POST">
                {% csrf_token %}
                <div class="row row-centered m-b-none">
                    <div class="col s12 m3 col l3 col-centered">
                        <div class="input-field">
                            <select class="white-input" name="categoria">
                                <option value="">Especialistas</option>
                                {% for cat in categorias %}
                                    <option value="{{ cat.id }}"
                                            {% if cat.id == categoria.id %}selected{% endif %}>{{ cat }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col s12 m4 l4 col-centered">
                        <div class="input-field">
                            <i class="material-icons pointer tooltipped" id="icon-location" style="color: #BDBDBD;"
                               data-position="bottom" data-delay="50"
                               data-tooltip="Obtener mi ubicación">near_me</i>
                            <input class="form-control white-input" type="text" name="ubicacion" id="ubicacion"
                                   onkeyup="buscarUbicacion()" placeholder="¿Dónde lo buscas?" value="{{ ubicacion }}">
                            <input type="hidden" name="latitud" id="id_latitud">
                            <input type="hidden" name="longitud" id="id_longitud">
                        </div>
                    </div>
                    <div class="col s12 m3 l3 col-centered">
                        <div class="input-field">
                            <input type="text" name="query" placeholder="¿Qué estás buscando?"
                                   class="autocomplete white-input" autofocus style="text-align: left!important;"
                                   id="query-autocomplete" value="{{ query }}">
                        </div>
                    </div>
                    <div class="col s12 m2 col-centered">
                        <div class="input-field m-t-md">
                            <button type="submit" class="btn-large btn-block action m-b-md no-padding"><i
                                    class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row section">
            <div class="col s12">

                {% if ubicacion or categoria %}
                    <h5 class="m-t-none">
                        Mostrando
                        {% if categoria %}
                            <b>{{ categoria|capfirst }}</b>
                        {% else %}
                            Negocios
                        {% endif %}
                        {% if ubicacion %}
                            cerca de <b>{{ ubicacion }}</b>:
                        {% endif %}
                    </h5>
                {% endif %}

                {% if query %}
                    <b>Búsqueda: "{{ query }}"</b>
                {% endif %}
                {% if not negocios %}
                    <h5>No se encontraron resultados, prueba con otra búsqueda</h5>
                {% endif %}
            </div>
            <div class="resultados-negocios" style="min-height: 35vh;">
                {% for negocio in negocios %}
                    {% include 'negocios/base_negocio_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="//maps.google.com/maps/api/js?key=AIzaSyC6UBtxDBeoxSoenu2vBIpgjcuRSk-O29Q&libraries=places"></script>
    <script src="{% static 'geoposition.js' %}"></script>
    <script>

        $(document).ready(function () {
            $('.chip-categoria').each(function () {
                var id_categoria = $(this).attr('data-categoria');
                if (getUrlParameter('cat') == id_categoria) {
                    $(this).find('.chip').addClass('accent white-text bold');
                }
            });
            processGeocoder;
            // getUserLocation();
            {% if latitud and longitud %}
                var geocoder = new google.maps.Geocoder();
                var punto = new google.maps.LatLng({{ latitud }}, {{ longitud }});
                geocoder.geocode({'latLng': punto}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        //find country name
                        for (var i = 0; i < results[0].address_components.length; i++) {
                            for (var b = 0; b < results[0].address_components[i].types.length; b++) {

                                //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                                if (results[0].address_components[i].types[b] == "route" || results[0].address_components[i].types[b] == "administrative_area_level_2") {
                                    //this is the object you are looking for
                                    city = results[0].address_components[i];
                                    break;
                                }
                            }
                        }
                        //city data
                        // alert(city.short_name + " " + city.long_name)
                        // $('#spanUbicacion').text(city.long_name);
                        document.getElementById("ubicacion").value = city.long_name;
                        buscarUbicacion();
                    }
                });
            {% endif %}
        });

        $('#icon-location').click(getUserLocation);

        function processGeocoder(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    // console.log(results[0].formatted_address);
                    // document.getElementById("ubicacion").value = 'Mi ubicación';
                    for (var i = 0; i < results[0].address_components.length; i++) {
                        for (var b = 0; b < results[0].address_components[i].types.length; b++) {

                            //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                            if (results[0].address_components[i].types[b] == "route" || results[0].address_components[i].types[b] == "administrative_area_level_2") {
                                //this is the object you are looking for
                                city = results[0].address_components[i];
                                break;
                            }
                        }
                    }
                    document.getElementById("ubicacion").value = city.long_name;
                    $('#icon-location').addClass('accent-text');

                } else {
                    console.log("google no encontro la direccion");
                    $('#icon-location').removeClass('accent-text');
                }
            } else {
                console.log("geocoding falló debido a :" + status);
                $('#icon-location').removeClass('accent-text');
            }
        }

        function getUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                        function (objPosition) {
                            var lon = objPosition.coords.longitude;
                            var lat = objPosition.coords.latitude;
                            console.log("latitud: " + lat);
                            console.log("longitud: " + lon);
                            document.getElementById("id_latitud").value = lat;
                            document.getElementById("id_longitud").value = lon;
                            var geocoder = new google.maps.Geocoder();
                            var miLocalizacion = new google.maps.LatLng(lat, lon);
                            geocoder.geocode({'latLng': miLocalizacion}, processGeocoder)

                        },
                        function (objPositionError) {
                            switch (objPositionError.code) {
                                case objPositionError.PERMISSION_DENIED:
                                    console.log("No se ha permitido el acceso a la posición del usuario.");
                                    break;
                                case objPositionError.POSITION_UNAVAILABLE:
                                    console.log("No se ha podido acceder a la información de su posición.");
                                    break;
                                case objPositionError.TIMEOUT:
                                    console.log("El servicio ha tardado demasiado tiempo en responder.");
                                    break;
                                default:
                                    console.log("Error desconocido.");
                            }
                        },
                        {
                            maximumAge: 75000,
                            timeout: 15000
                        });
            }
            else {
                console.log("Su navegador no soporta la API de geolocalización.");
            }
        }
        function buscarUbicacion() {
            geocoder = new google.maps.Geocoder();
            address = jQuery("#ubicacion").val();
            $('#icon-location').removeClass('accent-text');
            geocoder.geocode({'address': address}, function (result, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitud = result[0].geometry.location.lat();
                    var longitud = result[0].geometry.location.lng();
                    // console.log(latitud);
                    // console.log(longitud);
                    document.getElementById("id_latitud").value = latitud;
                    document.getElementById("id_longitud").value = longitud;
                }
            });
        }

        var input = document.getElementById('ubicacion');
        var options = {
            types: ['(cities)'],
            componentRestrictions: {country: 'mx'}
        };

        autocomplete = new google.maps.places.Autocomplete(input, options);

    </script>
{% endblock %}