{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Calendario {{ negocio.nombre }}
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/clockpicker/materialize.clockpicker.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/colorpicker/palette-color-picker.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.print.css"
          media="print">
    <link rel="stylesheet" href="{% static 'negocios/css/calendar.css' %}">
{% endblock %}


{% block content %}
    <nav class="white hide-on-small-and-down nav-breadcrumbs">
        <div class="container">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{% url 'negocios_app:negocios_usuario' %}" class="breadcrumb black-text">Mis negocios</a>
                    <a href="{% url 'negocios_app:dashboard' negocio.slug %}"
                       class="breadcrumb black-text">{{ negocio.nombre }}</a>
                    <a href="javascript:void(0);" class="breadcrumb black-text">Calendario</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container section">
        <div class="row section">
            <div class="col s12">
                <div id="calendar">

                </div>
            </div>
        </div>
    </div>

    <div id="modal_evento" class="modal modal-fixed-footer" style="top: 5% !important; height: 90%; max-height: 90%;">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <h4><i class="material-icons deep-orange-text">event</i><span id="titulo_modal"></span></h4>
                </div>

                <form action="" id="form_evento">
                    <div class="input-field col s12">
                        <input id="titulo_evento" type="text" name="titulo_evento" class="validate" required>
                        <label for="titulo_evento">Nombre del evento</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="fecha_evento" type="date" name="fecha_evento" class="datepicker" required>
                        <label for="fecha_evento">Fecha</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="hora_evento" type="text" name="hora_evento" class="timepicker validate" required>
                        <label for="hora_evento">Hora Inicio</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="hora_fin_evento" type="text" name="hora_fin_evento" class="timepicker validate">
                        <label for="hora_fin_evento">Hora Fin</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="color_evento" type="hidden" name="color_evento" value="#5C6BC0" required>
                    </div>

                    <div class="input-field col s6">
                        <input id="allday_evento" type="checkbox" name="allday_evento">
                        <label for="allday_evento" style="top: 0 !important; left: 0 !important;">Todo el día?</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea id="notas_evento" class="materialize-textarea" name="notas_evento"></textarea>
                        <label for="notas_evento">Notas adicionales</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" class="btn-flat left"
               id="btn_eliminar_evento"><i
                    class="material-icons left">delete</i>Eliminar</a>

            <a href="javascript:void(0);" class="waves-effect waves-light btn teal"
               id="btn_guardar_evento">Aceptar</a>
            <a href="javascript:void(0);" class="modal-action modal-close btn-flat">Cancelar</a>
        </div>
    </div>
    <div id="modal_confirmar_eliminar_evento" class="modal">
        <div class="modal-content">
            <h4>¿Seguro que deseas eliminar el evento?</h4>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" id="btn_confirmar_eliminar_evento"
               class="modal-action modal-close waves-effect waves-light btn red"><i
                    class="material-icons right">delete</i>Eliminar</a>
            <a href="javascript:void(0);" class="modal-action modal-close btn-flat">Cancelar</a>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'base/js/clockpicker/materialize.clockpicker.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/es_ES.js' %}"></script>
    <script src="{% static 'base/js/colorpicker/palette-color-picker.min.js' %}"></script>
    <script src="{% static 'base/js/moment/moment.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/lang-all.js"></script>

    <script src="{% static 'negocios/js/calendario_negocio.js' %}"></script>

    <script>

        var eventoSourceObj = {
            url: '{% url 'negocios_app:ajax_obtener_eventos' %}',
            type: 'get',
            data: {
                id_negocio: '{{ negocio.id }}'
            },
            error: function (xhr, errmsg, err) {
                $toastContent = $('<span><i class="material-icons">check</i> Hubo un problema al cargar los eventos</span>');
                Materialize.toast($toastContent, 1000, 'red lighten-1 rounded');
                // console.log("error " + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        };

        function ajaxCrearEvento(event) {
            var dataObject = {};
            dataObject.event = event;

            // Resolvemos el problema con UTC
            dataObject.event.start = moment(event.start).format();
            dataObject.event.end = moment(event.end).format();

            dataObject.id_negocio = "{{ negocio.id }}";
            var dataJson = JSON.stringify(dataObject);
            $.ajax({
                url: "{% url 'negocios_app:ajax_crear_evento' %}",
                data: dataJson,
                contentType: "application/json; charset=utf-8",
                type: "POST",
                success: function (data, textStatus, jqXHR) {
                    var $toastContent = $('<span><i class="material-icons">check</i> Cambios guardados correctamente</span>');
                    Materialize.toast($toastContent, 1000, 'white-toast rounded');
                },
                error: function (xhr, errmsg, err) {
                    var $toastContent;
                    if (xhr.status == 200) {
                        $toastContent = $('<span><i class="material-icons">check</i> Cambios guardados correctamente</span>');
                        Materialize.toast($toastContent, 1000, 'white-toast rounded');
                    }
                    else {
                        $toastContent = $('<span><i class="material-icons">check</i> Hubo un problema al crear evento</span>');
                        Materialize.toast($toastContent, 1000, 'red lighten-1 rounded');
                    }
                    // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }

        function ajaxActualizarEvento(event) {
            var dataObject = {};
            dataObject.event = event;

            // Resolvemos el problema con UTC
            // dataObject.event.fecha_inicio = moment(event.start).format();
            // dataObject.event.fecha_fin = moment(event.end).format();

            dataObject.id_negocio = "{{ negocio.id }}";
            var dataJson = JSON.stringify(dataObject);
            $.ajax({
                url: "{% url 'negocios_app:ajax_actualizar_evento' %}",
                data: dataJson,
                contentType: "application/json; charset=utf-8",
                type: "post",
                success: function (data, textStatus, jqXHR) {
                    var $toastContent = $('<span><i class="material-icons">check</i> Cambios guardados correctamente</span>');
                    Materialize.toast($toastContent, 1000, 'white-toast rounded');
                },
                error: function (xhr, errmsg, err) {
                    var $toastContent;
                    if (xhr.status == 200) {
                        $toastContent = $('<span><i class="material-icons">check</i> Cambios guardados correctamente</span>');
                        Materialize.toast($toastContent, 1000, 'white-toast rounded');
                    }
                    else {
                        $toastContent = $('<span><i class="material-icons">check</i> Hubo un problema al actualizar evento</span>');
                        Materialize.toast($toastContent, 1000, 'red lighten-1 rounded');
                    }
                    // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }

        function ajaxEliminarEvento(event_id) {
            var success = false;
            $.ajax({
                url: "{% url 'negocios_app:ajax_eliminar_evento' %}",
                data: {'id_evento': event_id},
                type: "POST",
                success: function (data, textStatus, jqXHR) {
                    var $toastContent = $('<span><i class="material-icons">check</i> Cambios guardados correctamente</span>');
                    Materialize.toast($toastContent, 1000, 'white-toast rounded');
                    success = true;
                },
                error: function (xhr, errmsg, err) {
                    var $toastContent;
                    if (xhr.status == 200) {
                        $toastContent = $('<span><i class="material-icons">check</i> Cambios guardados correctamente</span>');
                        Materialize.toast($toastContent, 1000, 'white-toast rounded');
                    }
                    else {
                        $toastContent = $('<span><i class="material-icons">check</i> Hubo un problema al eliminar evento</span>');
                        Materialize.toast($toastContent, 1000, 'red lighten-1 rounded');
                    }
                    // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }
    </script>
{% endblock %}