{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Citas de {{ negocio.nombre }}
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h5>Citas de
                            <a href="{% url 'negocios_app:negocio_view' negocio.slug %}">{{ negocio.nombre }}</a>
                        </h5>
                        {% if citas %}
                            <table class="highlight responsive-table">
                            <thead>
                            <tr>
                                <th data-field="usuario">Usuario</th>
                                <th data-field="fecha">Fecha</th>
                                <th data-field="servicio">Servicio</th>
                                <th data-field="estado">Estado</th>
                                <th data-field="acciones">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cita in citas %}
                                <tr class="pointer">
                                    <td class="modal-trigger" data-target="modal-cita-{{ cita.id }}">
                                        {{ cita.mascota.dueño.get_short_name|default_if_none:"-" }}
                                    </td>
                                    <td class="modal-trigger" data-target="modal-cita-{{ cita.id }}">
                                        {{ cita.fecha|date:"SHORT_DATE_FORMAT" }} - {{ cita.fecha|time:"h:i a" }}
                                    </td>
                                    <td class="modal-trigger" data-target="modal-cita-{{ cita.id }}">
                                        {{ cita.servicio.nombre_publico }}
                                    </td>
                                    <td class="modal-trigger" data-target="modal-cita-{{ cita.id }}">
                                        {% if cita.estado == '1' %} <!-- Pendiente -->
                                            <span class="grey lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                        {% elif cita.estado == '2' %} <!-- Aceptado -->
                                            <span class="green lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                        {% elif cita.estado == '3' %} <!-- Cancelado -->
                                            <span class="red lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if cita.estado != '2' and cita.estado != '3' %}
                                            <a class="btn-floating waves-effect waves-light teal tooltipped btn-aceptar-cita"
                                               data-cita="{{ cita.id }}" data-position="top" data-delay="50"
                                               data-tooltip="Aceptar cita">
                                                <i class="large material-icons no-margins">check</i>
                                            </a>
                                        {% endif %}
                                        {% if cita.estado != '3' %}
                                            <a class="btn-floating waves-effect waves-light grey tooltipped btn-cancelar-cita modal-trigger"
                                               data-cita="{{ cita.id }}" data-position="top" data-delay="50"
                                               data-tooltip="Cancelar cita"
                                               data-target="modal-confirmar-cancelar-cita">
                                                <i class="large material-icons no-margins">close</i>
                                            </a>
                                            <div id="modal-confirmar-cancelar-cita" class="modal">
                                                <div class="modal-content">
                                                    <h4>¿Seguro que deseas eliminar el perfil de ésta mascota?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class=" modal-action modal-close waves-effect waves-light btn red btn-confirmar-cancelar-cita">
                                                        Aceptar
                                                    </button>
                                                    <a href="javascript:void(0);"
                                                       class=" modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <span class="accent lighten-1 white-text p-xs rounded right modal-trigger"
                                              data-target="modal-cita-{{ cita.id }}">Ver detalles</span>
                                    </td>
                                </tr>
                                <div id="modal-cita-{{ cita.id }}" class="modal modal-fixed-footer">
                                    <div class="modal-content">
                                        <h4>Detalles de solicitud de cita</h4>
                                        <div class="row section">
                                            <div class="col s12 m7">
                                                <div class="row">
                                                    <div class="col s12 m6 center-align">
                                                        <div class="imagen-mascota avatar center-block border p-md"
                                                             id="imagen-mascota{{ cita.mascota.id }}">
                                                            <style>
                                                                #imagen-mascota{{ cita.mascota.id }} {
                                                                    background: url({{ cita.get_image_url }}) center center;
                                                                }
                                                            </style>
                                                        </div>
                                                        <h5>{{ cita.mascota.nombre }}</h5>
                                                    </div>
                                                    <div class="col m6">
                                                        <div class="info-mascota">
                                                            <p>
                                                                <b>Edad:</b> {{ cita.mascota.fecha_nacimiento|timesince }}
                                                            </p>
                                                            <p><b>Especie:</b> {{ cita.mascota.especie }}</p>
                                                            <p><b>Raza:</b> {{ cita.mascota.raza }}</p>
                                                            <p><b>Sexo:</b> {{ cita.mascota.get_sexo_display }}</p>
                                                            <ul>
                                                                <li>
                                                                    {% if cita.mascota.esterilizado %}
                                                                        <i class="material-icons green-text">check</i>
                                                                    {% else %}
                                                                        <i class="material-icons red-text">close</i>
                                                                    {% endif %}
                                                                    Esterilizado
                                                                </li>
                                                                <li>
                                                                    {% if cita.mascota.castrado %}
                                                                        <i class="material-icons green-text">check</i>
                                                                    {% else %}
                                                                        <i class="material-icons red-text">close</i>
                                                                    {% endif %}
                                                                    Castrado
                                                                </li>
                                                                <li>
                                                                    {% if cita.mascota.desparasitado %}
                                                                        <i class="material-icons green-text">check</i>
                                                                    {% else %}
                                                                        <i class="material-icons red-text">close</i>
                                                                    {% endif %}
                                                                    Desparasitado
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col s12">
                                                        {% if cita.mascota.caracteristicas %}
                                                            <p><b>Características:</b></p>
                                                            <p>{{ cita.mascota.caracteristicas }}</p>
                                                        {% endif %}
                                                        {% if cita.mascota.observaciones_medicas %}
                                                            <p><b>Observaciones médicas:</b></p>
                                                            <p>{{ cita.mascota.observaciones_medicas }}</p>
                                                        {% endif %}
                                                        {% if cita.mascota.vacunas %}
                                                            <p><b>Vacunas:</b></p>
                                                            <p>{{ cita.mascota.vacunas }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s12 m5">
                                                <p><b>Usuario: </b></p>
                                                <p>{{ cita.mascota.dueño.get_full_name }}</p>
                                                <p><b>Mascota:</b></p>
                                                <p>{{ cita.mascota.nombre }}</p>
                                                <p><b>Fecha para cita:</b></p>
                                                <p>{{ cita.fecha|date:"SHORT_DATE_FORMAT" }} -
                                                    {{ cita.fecha|time:"h:i a" }}</p>
                                                <p><b>Servicio:</b></p>
                                                <p>{{ cita.servicio.nombre_publico }}</p>
                                                <p><b>Estado de la solicitud:</b></p>
                                                <p class="m-t-xs">
                                                    {% if cita.estado == '1' %} <!-- Pendiente -->
                                                        <span class="grey lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                                    {% elif cita.estado == '2' %} <!-- Aceptado -->
                                                        <span class="green lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                                    {% elif cita.estado == '3' %} <!-- Cancelado -->
                                                        <span class="red lighten-3 white-text p-xs rounded">{{ cita.get_estado_display }}</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="javascript:void(0);"
                                           class=" modal-action modal-close waves-effect waves-red btn-flat">Cerrar</a>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>No tienes solicitudes de cita.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

    <script>
        $('.btn-aceptar-cita').on('click', function () {
            var $btn = $(this);
            var tmp_html = $btn.html();
            var id_cita = $btn.attr('data-cita');
            console.log('click');
            $.ajax({
                url: "{% url 'negocios_app:ajax_activar_cita' %}",
                type: 'post',
                data: {
                    'id_negocio': {{ negocio.id }},
                    'id_cita': id_cita
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    $btn.addClass('disabled').html(loadingAnim());
                },
                success: function () {
                    $btn.closest('tr').find('td:nth-child(4)').html('<span class="green lighten-2 white-text p-xs rounded">Aceptado</span>');
                    $btn.tooltip('remove');
                    $btn.remove();
                },
                error: function (xhr, errmsg, err) {
                    $btn.removeClass('disabled').html(tmp_html);
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            })
        });

        $('.btn-confirmar-cancelar-cita').on('click', function () {
            var $btn = $('.btn-cancelar-cita');
            var tmp_html = $btn.html();
            var id_cita = $btn.attr('data-cita');
            $.ajax({
                url: "{% url 'negocios_app:ajax_cancelar_cita' %}",
                type: 'post',
                data: {
                    'id_negocio': {{ negocio.id }},
                    'id_cita': id_cita
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    $btn.addClass('disabled').html(loadingAnim());
                },
                success: function () {
                    $btn.closest('tr').find('td:nth-child(4)').html('<span class="red lighten-2 white-text p-xs rounded">Cancelado</span>');
                    $btn.siblings('.btn-aceptar-cita').remove();
                    $btn.tooltip('remove');
                    $btn.remove();
                },
                error: function (xhr, errmsg, err) {
                    $btn.removeClass('disabled').html(tmp_html);
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            })
        });
    </script>

{% endblock %}