{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Dashboard {{ negocio.nombre }}
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.print.css">
    <style>
        .dashboard-badge {
            width: 100%;
            left: 0;
            bottom: 0;
            border-radius: 0 !important;
        }
    </style>
{% endblock %}


{% block content %}
    <nav class="white hide-on-small-and-down nav-breadcrumbs">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'negocios_app:negocios_usuario' %}" class="breadcrumb black-text">Mis negocios</a>
                <a href="javascript:void(0);" class="breadcrumb black-text">{{ negocio.nombre }}</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row section">
            <div class="col s12">
                <h4><a href="{% url 'negocios_app:negocio_view' negocio.slug %}">{{ negocio.nombre|upper }}</a></h4>
            </div>
            <div class="col s6 m4 l3">
                {% if user.tiene_suscripcion %}
                    <a href="{% url 'negocios_app:calendario' negocio.slug %}">
                {% else %}
                    <a class="modal-trigger pointer" data-target="modalsuscripcion">
                {% endif %}
                <div class="card hoverable">
                    <div class="card-content center-align p-tb-lg">
                        <h1 class="no-margins action-text">
                            <i class="material-icons">event</i>
                        </h1>
                        <h5 class="black-text">
                            Calendario
                        </h5>
                        <span class="new badge rank dashboard-badge" data-badge-caption="">Premium</span>
                    </div>
                </div>
                </a>
            </div>
            <div class="col s6 m4 l3">
                {% if user.tiene_suscripcion %}
                    <a href="{% url 'negocios_app:citas' negocio.slug %}">
                {% else %}
                    <a class="modal-trigger pointer" data-target="modalsuscripcion">
                {% endif %}
                <div class="card hoverable">
                    <div class="card-content center-align p-tb-lg">
                        <h1 class="no-margins accent-text">
                            <i class="material-icons">perm_contact_calendar</i>
                        </h1>
                        <h5 class="black-text">
                            Citas
                        </h5>
                        <span class="new badge rank dashboard-badge" data-badge-caption="">Premium</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col s6 m4 l3">
                <a href="{% url 'negocios_app:configurar_negocio' negocio.slug %}">
                    <div class="card hoverable">
                        <div class="card-content center-align p-tb-lg">
                            <h1 class="no-margins primary-text">
                                <i class="material-icons">mode_edit</i>
                            </h1>
                            <h5 class="black-text">
                                Editar perfil
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modalsuscripcion" class="modal">
        <div class="modal-content">
            <h4>¡Suscribete hoy!</h4>
            <p>Para utilizar ésta característica, debes tener una suscripción activa.</p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'usuarios_app:beneficios' %}" class="btn action">Ver mas</a>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
        if (getUrlParameter('success')) {
            var querygetstr = $(location).attr('search');
            $('#btn-signup').attr('href', "{% url 'usuarios_app:signup' %}" + querygetstr);
            var $toastContent = $('<span><i class="material-icons left">check</i>Felicidades, has obtenido una prueba de 10 días gratis </span>');
            Materialize.toast($toastContent, 3000, 'accent rounded bold');
        }
    </script>
{% endblock %}