{% extends 'base/base.html' %}
{% load static from staticfiles %}


{% block title %}
    Explora
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/stars.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col s12 center-align">
                <h2>Explora y descubre</h2>
            </div>
            {% for negocio in negocios %}
                {% include 'negocios/base_negocio_card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}