{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Negocios
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="row section">
            {% if not negocios %}
                <div class="col s12">
                    <h5>
                        Aún no tienes negocios registrados
                    </h5>
                    <h6>
                        <a class="hide-on-small-only" href="{% url 'negocios_app:registrar_negocio' %}">
                            <i class="material-icons">add</i> Registrar negocio
                        </a>
                    </h6>
                </div>
            {% else %}
                <div class="col s12">
                    <h5>
                        Mis Negocios
                    </h5>
                    <h6>
                        <a class="hide-on-small-only" href="{% url 'negocios_app:registrar_negocio' %}">
                            <i class="material-icons">add</i> Registrar negocio
                        </a>
                    </h6>
                </div>
                {% for negocio in negocios %}
                    <div class="col s12 m6 l4">
                        <div class="card negocio-card">
                            <a href="{% url 'negocios_app:negocio_view' negocio.slug %}"
                               class="white-text">
                                <div class="card-image imagen-negocio-card" id="imagen-negocio{{ forloop.counter }}">
                                    <style>
                                        #imagen-negocio{{ forloop.counter }} {
                                            background: url({{ negocio.get_cover_image_url }}) center center;
                                            background-size: cover;
                                            padding-bottom: 56%;
                                        }
                                    </style>
                                    <span class="card-title truncate">{{ negocio.nombre }}</span>
                                </div>
                            </a>
                            <div class="card-action">
                                <a href="{% url 'negocios_app:dashboard' negocio.slug %}">
                                    <i class="material-icons">dashboard</i> Administrar
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="col hide-on-med-and-up s12 m6 l4 center-align">
                <div class="card-content">
                    <a href="{% url 'negocios_app:registrar_negocio' %}">
                        <h1 class="cyan-text text-darken-2">
                            <i class="material-icons">add</i>
                        </h1>
                        <h5>Registrar negocio</h5>
                    </a>
                </div>
            </div>
            <div class="col s12 m-b-md">
                <h4><i class="material-icons yellow-text text-darken-2">grade</i> Estado de la suscripción</h4>
                {% if not user.tiene_suscripcion %}
                    <p><i class="material-icons text-error">clear</i>No cuentas con una suscripción activa.</p>
                    <p class="lead">
                        Paga tu suscripción de manera segura mediante PayPal©
                    </p>
                    <img src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/btn_10.png"
                         alt="paypal" onclick="ajaxCrearPago()"/>
                    {% comment %}
                        <a href="{% url 'usuarios_app:beneficios' %}"
                           class="action btn-large">Suscribirse</a>
                    {% endcomment %}
                {% else %}
                    <p><i class="material-icons teal-text">check</i> Suscripción activa hasta el
                        <b>{{ user.suscripcionusuario.fecha_limite }}</b></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            if (getUrlParameter('success')) {
                var $toastContent = $('<span><i class="material-icons left">check</i>Hemos enviado a tu correo la cuenta para realizar el pago</span>');
                Materialize.toast($toastContent, 10000, 'white-toast bold');
            }
        });
        function ajaxCrearPago() {
            $.ajax({
                url: "{% url 'pagos_app:ajax_crear_pago' %}",
                contentType: "application/json; charset=utf-8",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    window.location = data;
                },
                error: function (xhr, errmsg, err) {
                    console.log(errmsg);
                    console.log(xhr);
                    console.log(err);
                }
            });
        }
    </script>
{% endblock %}