{% extends 'base/base.html' %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}
    {{ negocio.nombre }}
{% endblock %}


{% block styles %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/stars.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/starability/starability-minified/starability-all.min.css' %}">
    <style>

        #map {
            height: 200px;
        }

        .starability-basic label:before, label:after {
            display: none;
        }

        .starability-basic [type="radio"] + label {
            padding-left: 0 !important;
            height: 30px !important;
        }

        .starability-basic.sm {
            width: 75px;
            min-height: inherit;
        }

        .starability-basic.sm > label {
            width: 15px;
            height: 15px;
            background-size: 15px;
        }

        .starability-basic.sm > input:checked ~ label, .starability-basic.sm > input:focus ~ label, .starability-basic.sm > input:hover ~ label {
            background-position: 0 -15px;
        }

        .titulo-negocio {
            font-size: 2em;
        }

        .contacto {
            font-size: 11pt;
            padding: 10px 0 !important;
        }

        .contacto .col {
            padding: 0 !important;
        }

        @media all and (min-width: 960px) {
            #header {
                width: 100%;
            {% if user.is_authenticated %}
                top: -20px;
            {% endif %}
                position: relative;
            }
        }

    </style>
{% endblock %}


{% block content %}

    <div class="valign-wrapper grey lighten-5" id="header">

        <div class="container valign">
            <div class="row">
                <div class="col s12 m6">
                    <h1 class="titulo-negocio m-b-none">
                        <b>{{ negocio.nombre }}</b>
                    </h1>
                    <p class="no-margins">{{ negocio.descripcion }}</p>
                </div>
                <div class="col s12 m6 right-align m-t-xl">
                    <div class="row m-b-none">
                        <div class="col s12">
                            <p class="no-margins inline" style="margin-right: 5px;">
                                {% if negocio.get_rating %}
                                    <b>{{ negocio.get_rating }}</b>
                                {% else %}
                                    <span>No hay calificaciones suficientes</span>
                                {% endif %}
                            </p>
                            <div class="stars-container inline">
                                <div class="stars-top"
                                     style="width: {% widthratio negocio.get_rating 5 100 %}%;">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="stars-bottom">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row m-t-xs m-b-none">
                        <div class="col s12">
                            {% for categoria in negocio.categorias.all %}
                                <div class="chip accent white-text">{{ categoria.nombre_publico }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col s12 m-t-md">
                    {% if es_dueno %}
                        <a href="{% url 'negocios_app:dashboard' negocio.slug %}" class="accent-text p-md">
                            <i class="material-icons">settings</i> Administrar</a>
                        <a href="{% url 'negocios_app:configurar_negocio' negocio.slug %}" class="accent-text p-md">
                            <i class="material-icons">mode_edit</i> Editar perfil</a>
                        {% if negocio.tiene_suscripcion %}
                            <a href="{% url 'negocios_app:calendario' negocio.slug %}" class="accent-text p-md">
                                <i class="material-icons">event</i> Calendario</a>
                            <a href="{% url 'negocios_app:citas' negocio.slug %}" class="accent-text p-md">
                                <i class="material-icons">perm_contact_calendar</i> Ver citas</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% if es_dueno %}
            <div class="row row-centered m-t-md">
                <div class="col col-centered s12 m10 l8">
                    <div class="amber lighten-4 p-sm">
                        <ul>
                            {% if not negocio.imagennegocio_set.count %}
                                <li>
                                    <p>Agrega imagenes para mostrar en tu perfil. <a
                                            href="{% url 'negocios_app:configurar_galeria' negocio.slug %}">Ir a subir
                                        fotos</a></p>
                                </li>
                            {% endif %}
                            {% if not negocio.serviciosnegocio_set.count %}
                                <li>
                                    <p>Agrega servicios para activar las citas a tu negocio. <a
                                            href="{% url 'negocios_app:configurar_servicios' negocio.slug %}">Agregar
                                        servicios</a>
                                    </p>
                                </li>
                            {% endif %}
                            {% if not negocio.contactonegocio %}
                                <li>
                                    <p>Indica tus redes sociales en el perfil. <a
                                            href="{% url 'negocios_app:configurar_contacto' negocio.slug %}">Agregar
                                        contacto</a>
                                    </p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row m-t-md">
            <div class="col s12 m8">
                {% if negocio.imagennegocio_set.count %}
                    <div class="fotorama m-b-md" data-nav="thumbs" data-width="100%"
                         data-ratio="16/9" data-allowfullscreen="native" data-fit="cover">
                        {% for imagen in negocio.imagennegocio_set.all %}
                            <img src="{{ imagen.get_image_url }}" alt="imagen">
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    {% if negocio.serviciosnegocio_set.count %}
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h5><b>Servicios</b></h5>
                                    <hr>
                                    {% for servicio in negocio.serviciosnegocio_set.all %}
                                        <div class="m-t-lg" style="text-align: justify;">
                                            <h6><b>{{ servicio.nombre_publico }}</b></h6>
                                            <p>{{ servicio.descripcion|linebreaks }}</p>
                                            <p class="grey-text">
                                                {% if servicio.tipo_precio == '1' %}
                                                    <i class="material-icons black-text">attach_money</i>
                                                    {{ servicio.get_tipo_precio_display }}
                                                    ${{ servicio.precio|floatformat:2 }}
                                                {% elif servicio.tipo_precio == '2' %}
                                                    <i class="material-icons black-text">attach_money</i>
                                                    ${{ servicio.precio|floatformat:2 }}
                                                {% elif servicio.tipo_precio == '3' %}
                                                    Precio variable
                                                {% endif %}
                                            </p>

                                            {% if servicio.tiempo_aprox_minutos %}
                                                <p class="grey-text">
                                                    <i class="material-icons black-text">access_time</i> {{ servicio.tiempo_aprox_minutos }}
                                                    minutos
                                                </p>
                                            {% endif %}

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if negocio.tiene_suscripcion %}
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h5>
                                        <b>Comentarios <span
                                                class="right">({{ negocio.comentariosnegocio_set.count }})</span></b>
                                    </h5>

                                    <hr>
                                    <div class="section">
                                        {% if not negocio.comentariosnegocio_set.count %}
                                            <p>No hay comentarios aún</p>
                                        {% else %}
                                            {% for comentario in negocio.comentariosnegocio_set.all|slice:"5" %}
                                                {% if not comentario == comentario_usuario %}
                                                    <div class="row p-sm m-t-none m-b-none b-b">
                                                        <div class="col s2">
                                                            <div class="circle responsive-img center-block avatar-sm m-t-xs"
                                                                 id="comentario{{ comentario.id }}">
                                                                <style>
                                                                    #comentario{{ comentario.id }} {
                                                                        background: url({{ comentario.usuario.get_image_url }}) center center;
                                                                    }
                                                                </style>
                                                            </div>
                                                        </div>
                                                        <div class="col s10">
                                                            <b class="comentario-nombre">{{ comentario.usuario.get_short_name }}</b>
                                                            <p class="comentario-texto grey-text">{{ comentario.texto }}</p>
                                                            <div class="stars-container inline">
                                                                <div class="stars-top"
                                                                     style="width: {% widthratio comentario.calificacion 5 100 %}%;">
                                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                                </div>
                                                                <div class="stars-bottom">
                                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                                </div>
                                                            </div>
                                                            <div class="comentario-fecha grey-text right">
                                                                {{ comentario.fecha_creacion|naturaltime }}
                                                            </div>
                                                            {% comment %}
                                                                <fieldset class="starability-basic sm">
                                                                    {% for radio in comentario_form.calificacion %}
                                                                        {% if comentario.calificacion == radio.choice_label or comentario.get_calificacion_display == radio.choice_label %}
                                                                            <input type="radio" checked>
                                                                        {% endif %}
                                                                        <label>
                                                                            {{ radio.choice_label }}
                                                                            {{ comentario.calificacion }}
                                                                            {{ comentario.get_calificacion_display }}
                                                                        </label>
                                                                    {% endfor %}
                                                                </fieldset>
                                                            {% endcomment %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            {% if negocio.comentariosnegocio_set.count > 5 %}
                                                <div class="row m-b-none">
                                                    <div class="col s12">
                                                        <div class="center-align m-t-xl">
                                                            <a class="blue-text pointer link modal-trigger"
                                                               data-target="modal-comentarios">
                                                                <b>
                                                                    Mostrar todos los comentarios
                                                                    ({{ negocio.comentariosnegocio_set.count|add:"-5" }}+)
                                                                </b>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="modal-comentarios" class="modal modal-fixed-footer">
                                                    <div class="modal-content">
                                                        <h5>
                                                            <b>Comentarios de {{ negocio.nombre }}</b>
                                                            <span class="right">({{ negocio.comentariosnegocio_set.count }})</span>
                                                        </h5>
                                                        {% for comentario in negocio.comentariosnegocio_set.all %}
                                                            {% if not comentario == comentario_usuario %}
                                                                <div class="row p-sm m-t-none m-b-none b-b">
                                                                    <div class="col s2">
                                                                        <div class="circle responsive-img center-block avatar-sm m-t-xs"
                                                                             id="comentario{{ comentario.id }}">
                                                                            <style>
                                                                                #comentario{{ comentario.id }} {
                                                                                    background: url({{ comentario.usuario.get_image_url }}) center center;
                                                                                }
                                                                            </style>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col s10">
                                                                        <b class="comentario-nombre">{{ comentario.usuario.get_short_name }}</b>
                                                                        <p class="comentario-texto grey-text">{{ comentario.texto }}</p>
                                                                        <div class="stars-container inline">
                                                                            <div class="stars-top"
                                                                                 style="width: {% widthratio comentario.calificacion 5 100 %}%;">
                                                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                                            </div>
                                                                            <div class="stars-bottom">
                                                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="comentario-fecha grey-text right">
                                                                            {{ comentario.fecha_creacion|naturaltime }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="javascript:void(0);"
                                                           class=" modal-action modal-close waves-effect waves-accent btn-flat">Cerrar</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% if not user.is_authenticated %}
                                        <p>
                                            Para dejar comentarios debes
                                            <b class="link"><a
                                                    href="{% url 'usuarios_app:login' %}?next={% url 'negocios_app:negocio_view' negocio.slug %}">iniciar
                                                sesión</a></b>
                                        </p>
                                    {% endif %}
                                    {% if not es_dueno and comentarios_disponibles and negocio.tiene_suscripcion %}
                                        <div class="section">
                                            <b>Deja tu comentario</b>
                                            <form action="{% url 'negocios_app:negocio_view' negocio.slug %}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <div class="input-field">
                                                    <fieldset class="starability-basic">
                                                        {% for radio in comentario_form.calificacion %}
                                                            {{ radio.tag }}
                                                            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                                        {% endfor %}
                                                    </fieldset>
                                                </div>

                                                <div class="input-field">
                                                    {{ comentario_form.texto.label_tag }}
                                                    {{ comentario_form.texto }}
                                                </div>

                                                <button class="btn m-t-md" type="submit">Enviar</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    {% if comentario_usuario %}
                                        <div class="section">
                                            <p>Tu comentario a <b>{{ negocio.nombre }}:</b></p>
                                            <div class="row p-sm m-t-none m-b-none">
                                                <div class="col s2">
                                                    <div class="circle responsive-img center-block avatar-sm m-t-xs"
                                                         id="comentario{{ comentario_usuario.id }}">
                                                        <style>
                                                            #comentario{{ comentario_usuario.id }} {
                                                                background: url({{ comentario_usuario.usuario.get_image_url }}) center center;
                                                            }
                                                        </style>
                                                    </div>
                                                </div>
                                                <div class="col s10">
                                                    <b class="comentario-nombre">{{ comentario_usuario.usuario.get_short_name }}</b>
                                                    <p class="comentario-texto grey-text">{{ comentario_usuario.texto }}</p>
                                                    <div class="stars-container inline">
                                                        <div class="stars-top"
                                                             style="width: {% widthratio comentario_usuario.calificacion 5 100 %}%;">
                                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                        </div>
                                                        <div class="stars-bottom">
                                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                        </div>
                                                    </div>
                                                    <div class="comentario-fecha grey-text right">
                                                        {{ comentario_usuario.fecha_creacion|naturaltime }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if negocio.horariosemanalnegocio_set.count %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-content">
                            <h5><b>Horario</b></h5>
                            <hr>
                            <div class="section">
                                {% for horario in negocio.horariosemanalnegocio_set.all %}
                                    <p>
                                        {{ horario.get_dia_semana_display }}:
                                        <span class="right">{{ horario.hora_inicio|date:"g:i A" }} -
                                            {{ horario.hora_fin|date:"g:i A" }}</span>
                                    </p>
                                {% endfor %}
                            </div>
                            {% if not es_dueno and negocio.tiene_suscripcion and negocio.serviciosnegocio_set.count %}
                                <div class="row">
                                    <div class="col s12">
                                        <h5><b>Solicitar cita</b></h5>
                                        <hr>
                                    </div>
                                    {% if request.user.mascota_set.count %}
                                        <div class="input-field col s12">
                                            <select name="mascota" id="select-mascota" required class="validate">
                                                {% for mascota in request.user.mascota_set.all %}
                                                    <option value="{{ mascota.id }}">{{ mascota.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="select-mascota">Mascota</label>
                                        </div>
                                        {% if negocio.serviciosnegocio_set.count %}
                                            <div class="input-field col s12">
                                                <select name="servicio" id="select-servicio">
                                                    {% for servicio in negocio.serviciosnegocio_set.all %}
                                                        <option value="{{ servicio.id }}">{{ servicio.nombre_publico }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="select-servicio">Servicio</label>
                                            </div>
                                        {% endif %}
                                        <div class="input-field col s12">
                                            <input id="fecha_cita" type="date" name="fecha_cita" class="datepicker"
                                                   required>
                                            <label for="fecha_cita">Fecha</label>
                                        </div>
                                        <div class="input-field col s12 col-hora-cita" style="display:none;">
                                            <input id="hora_cita" type="text" name="hora_cita" class="timepicker"
                                                   required>
                                            <label for="hora_cita">Hora</label>
                                        </div>
                                        <div class="col s12 center-align">
                                            <a class="waves-effect waves-light btn action btn-block disabled m-t-lg"
                                               id="btn_cita"><i
                                                    class="material-icons left">event_available</i>Solicitar cita</a>
                                            <div class="preloader-wrapper small active" style="display:none;">
                                                <div class="spinner-layer spinner-green-only">
                                                    <div class="circle-clipper left">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="gap-patch">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12 center-align">
                                            <h5 id="cita_success" style="display:none;"><i
                                                    class="material-icons green-text">check</i>Solicitud enviada</h5>
                                        </div>
                                    {% elif not user.is_authenticated %}
                                        <div class="col s12">
                                            <p>Inicia sesión y registra a tu mascota para solicitar una cita</p>
                                            <a href="{% url 'mascotas_app:registrar_mascota' %}"
                                               class="btn action btn-block m-t-sm">
                                                <i class="material-icons">add</i>Continuar
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col s12">
                                            <p>Registra a tu mascota para solicitar una cita</p>
                                            <a href="{% url 'mascotas_app:registrar_mascota' %}?next={% url 'negocios_app:negocio_view' negocio.slug %}"
                                               class="btn action btn-block m-t-sm">
                                                <i class="material-icons">add</i>Registrar
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if negocio.contactonegocio and negocio.tiene_suscripcion %}
                <div class="col s12 m4">
                    <div class="card shadow">
                        <div class="card-content">
                            <h5><b>Contacto</b></h5>
                            <hr>
                            <div class="">
                                {% if negocio.contactonegocio.web_page %}
                                    <div class="row contacto m-b-none">
                                        <div class="col s1 center-align">
                                            <i class="fa fa-globe action-text" aria-hidden="true"></i>
                                        </div>
                                        <div class="col s11">
                                            <span class="truncate">
                                                {{ negocio.contactonegocio.web_page }}
                                            </span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if negocio.contactonegocio.facebook_page %}
                                    <div class="row contacto m-b-none">
                                        <div class="col s1 center-align">
                                            <i class="fa fa-facebook" style="color: #2d4373;"></i>
                                        </div>
                                        <div class="col s11">
                                            <span class="truncate">
                                                {{ negocio.contactonegocio.facebook_page }}
                                            </span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if negocio.contactonegocio.twitter_page %}
                                    <div class="row contacto m-b-none">
                                        <div class="col s1 center-align">
                                            <span class="fa fa-twitter" style="color: #2795e9;"></span>
                                        </div>
                                        <div class="col s11">
                                            <span class="truncate">
                                                {{ negocio.contactonegocio.twitter_page }}
                                            </span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if negocio.contactonegocio.telefono %}
                                    <div class="row contacto m-b-none">
                                        <div class="col s1 center-align">
                                            <i class="material-icons cyan-text">phone</i>
                                        </div>
                                        <div class="col s11">
                                            <span class="truncate">
                                                {{ negocio.contactonegocio.telefono }}
                                            </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if negocio.ubicacion %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-content">
                            <h5><b>Dirección</b></h5>
                            <hr>
                            <div id="map" class="section"></div>
                            <p class="m-t-md">{{ negocio.direccion }}</p>
                            <a href="https://maps.google.com?q={{ negocio.ubicacion.latitude }},{{ negocio.ubicacion.longitude }}"
                               target="_blank">
                                <i class="material-icons">open_in_new</i>
                                Ver en Google Maps
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src="{% static 'base/js/clockpicker/picker.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/picker.time.js' %}"></script>
    <script src="{% static 'base/js/clockpicker/es_ES.js' %}"></script>

    <script type="text/javascript">

        var map;
        function initMap() {
            var myLatLng = {lat: {{ negocio.ubicacion.latitude }}, lng: {{ negocio.ubicacion.longitude }}};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '{{ negocio.nombre }}'
            });
            marker.setMap(map);
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6UBtxDBeoxSoenu2vBIpgjcuRSk-O29Q&callback=initMap">
    </script>

    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
            $('.carousel').carousel();
            $('.materialboxed').materialbox();
            Materialize.updateTextFields();

            $('.starability-basic > label:first-child').remove();
            // $('.starability-basic > input:first-child').remove();
            $('label[for="id_calificacion_0"]').remove();
            $('input#id_calificacion_0').remove();
            $('input[name="calificacion"][value="5"]').prop('checked', true);
        });

        $('#fecha_cita').pickadate({
            close: 'OK',
            disable: [
                true,
                {% for dia in negocio.get_dias_laborales %}
                    {{ dia.dia_semana }},
                {% endfor %}
            ]
        }).on('input inputproperty change', function () {
            if ($(this).val()) {
                var $dateinput = $(this).pickadate();
                var datepicker = $dateinput.pickadate('picker');
                var dateobj = datepicker.get('select');

                var $timeinput = $('#hora_cita').pickatime();
                var timepicker = $timeinput.pickatime('picker');

                $('.col-hora-cita').show();

                var horas_dia_semana = constructHoursObject(dateobj.day);

                timepicker.set('enable', true);
                timepicker.set('disable', false);
                timepicker.set('disable', horas_dia_semana);
                timepicker.set('disable', 'flip');

            }
            else {
                $('.col-hora-cita').hide();
            }
        });

        $('#hora_cita').pickatime({
            formatSubmit: 'HH:i',
            interval: 60,
        }).on('input inputproperty change', function () {
            if ($(this).val()) {
                $('#btn_cita').removeClass('disabled');
            }
            else {
                $('#btn_cita').addClass('disabled');
            }
        });

        $('#btn_cita').on('click', function () {
            var $btn = $(this);

            var $dateinput = $('#fecha_cita').pickadate();
            var datepicker = $dateinput.pickadate('picker');
            var fecha_cita = datepicker.get('select', 'yyyy-mm-dd');

            var $timeinput = $('#hora_cita').pickatime();
            var id_mascota = $('#select-mascota').val();
            var id_servicio = $('#select-servicio').val();
            var timepicker = $timeinput.pickatime('picker');
            var hora_cita = timepicker.get('select', 'HH:i');

            if (!$btn.hasClass('disabled')) {
                console.log(fecha_cita, hora_cita);
                $.ajax({
                    url: '{% url 'negocios_app:ajax_solicitar_evento' %}',
                    data: {
                        'id_negocio': {{ negocio.id }},
                        'id_mascota': id_mascota,
                        'id_servicio': id_servicio,
                        'fecha_cita': fecha_cita,
                        'hora_cita': hora_cita
                    },
                    type: "POST",
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        $btn.hide();
                        $('.preloader-wrapper').show();
                    },
                    success: function () {
                        $('.preloader-wrapper').hide();
                        $('#cita_success').show();
                    },
                    error: function (xhr, errmsg, err) {
                        $btn.show();
                        $('.preloader-wrapper').hide();
                        $('#cita_success').hide();
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });

            }
        });


        var disabled_hours = [
            {% for horario in negocio.horariosemanalnegocio_set.all %}
                {
                    day: {{ horario.dia_semana }},
                    from: parseInt('{{ horario.hora_inicio }}'.substring(0, 2)),
                    to: parseInt('{{ horario.hora_fin }}'.substring(0, 2))
                },
            {% endfor %}
        ];

        function constructHoursObject(day) {

            var values = [true];
            for (var i = 0; i < disabled_hours.length; i++) {
                if (disabled_hours[i].day === day) {
                    for (var j = disabled_hours[i].from; j < disabled_hours[i].to; j++) {
                        values.push(j);
                    }
                    /*
                     values.push({
                     from: disabled_hours[i].from, to: disabled_hours[i].to
                     });
                     */
                }
            }
            return values;
        }
    </script>
{% endblock %}