{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Registra tu negocio
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/jquery-filer/jquery.filer.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/jquery-filer/themes/jquery.filer-dragdropbox-theme.css' %}">
    <link rel="stylesheet" href="{% static 'geoposition2/geoposition.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col s12 l10">
                <div class="card">
                    <div class="card-content">
                        <h3>Registra tu negocio</h3>
                        <form action="" method="POST" id="form-registrar-negocio" enctype="multipart/form-data">
                            {% csrf_token %}
                            <script type="text/javascript"
                                    src="//maps.google.com/maps/api/js?key=AIzaSyAtLdEkxPsh36V0pduf1LQEl3cav4dOjlU"></script>
                            <div class="row">
                                {% for field in negocio_form %}
                                    <div class="col s12">
                                        <div class="input-field">
                                            {{ field }}
                                            {{ field.label_tag }}
                                            {% if field.errors %}
                                                <script>
                                                    var id_field = '#{{ field.id_for_label }}';
                                                    var error = '{{ field.errors|first }}';
                                                    $(id_field).attr('data-error', error).addClass('invalid');
                                                </script>
                                            {% endif %}
                                            {% for error in field.errors %}
                                                <p class="error text-error text-lighten-1"
                                                   style="margin: 0;">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col s12">
                                    <div class="input-field">
                                        <label for="imagen">Imagen principal: </label>
                                        <input type="file" name="imagen_principal" accept="image/*" id="imagen" required
                                               aria-required="true">
                                        <label id="error-imagen" class="perror"></label>
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <input type="hidden" name="direccion" id="input_direccion">
                                    <button class="btn-large waves-effect waves-light action right"
                                            type="submit"
                                            name="action"
                                            id="btn-submit">
                                        Continuar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'base/js/jquery-filer/jquery.filer.min.js' %}"></script>
    <script src="{% static 'negocios/js/registrar_negocio.js' %}"></script>

    <script src="{% static 'base/js/custom_geoposition_field.js' %}"></script>
    <script src="{% static 'geoposition2/geoposition.js' %}"></script>
{% endblock %}