{% extends 'correos/base_correos.html' %}
{% block titulo %}
    ¡Gracias por contactarnos!
{% endblock %}

{% block contenido %}

    <p>
        Haz creado un registro de negocio, no pierdas la oportunidad de probar nuestros beneficios por 10 días.
    </p>
    <p>
        Adquirir una suscripción Premium es muy fácil, ingresa a tu cuenta, dirigirte a tus negocios y realiza el pago
        correspondiente de forma segura y fácil con PayPal.
    </p>
    <p>
        En miPetdate agradecemos tu preferencia.
    </p>
{% endblock %}
{% block texto_boton %}
    IR A MI PERFIL
{% endblock %}

{% block link %}
    https://mipetdate.com/perfil
{% endblock %}