{% extends 'base/base.html' %}
{% load static from staticfiles %}

{% block title %}
    Contáctanos
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col m8">
                <div class="card">
                    <div class="card-content">
                        <h5>¿Deseás publicitarte en nuestra página?</h5>
                        <p>Deja tus datos para poder contactarnos contigo</p>
                        <div class="row section m-b-none">
                            <form action="{% url 'publicidad_app:contacto_publicidad' %}" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="col s12 input-field">
                                        {{ field }}
                                        {{ field.label_tag }}
                                    </div>
                                {% endfor %}
                                <div class="input-field col s12">
                                    <button type="submit" class="btn-large action right">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            if (getUrlParameter('success') === 'true') {
                var $toastContent = $('<span><i class="material-icons">check</i> Se han enviado los datos correctamente </span>');
                Materialize.toast($toastContent, 3000, 'white-toast rounded')
            }
        })
    </script>
{% endblock %}