html, body {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: 400 !important;
    background-color: #FDFDFD;
    -webkit-animation: Gradient 60s ease infinite;
    animation: Gradient 60s ease infinite;
}

.jFiler-theme-default .jFiler-input {
    font-family: 'Lato', sans-serif !important;
    font-size: 12pt !important;
    width: 100% !important;
}

nav ul a:hover {
    background: none !important;
}

.fa-spin-btn {
    line-height: inherit;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    font-size: 1.6em !important;
}

.btn-large {
    font-size: 14pt !important;
}

.btn, .btn-large, .btn-flat {
    border-radius: 4px !important;
}

nav {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.brand-logo {
    font-size: 1.8rem !important;
    top: 2px !important;
}

nav.white a, nav.white .brand-logo {
    color: #424242 !important;
}

.font-300 {
    font-weight: 300 !important;
}

.btn-action-border {
    background: transparent !important;
    color: #E91E63 !important;
    border: 1px solid #E91E63 !important;
    -webkit-transition: all 300ms ease !important;
    transition: all 300ms ease !important;
}

.btn-action-border:hover {
    background-color: #E91E63 !important;
    color: #fff !important;
}

.btn-accent-border {
    background: transparent !important;
    color: #3F51B5 !important;
    border: 1px solid #3F51B5 !important;
}

.btn-accent-border:hover {
    background-color: #3F51B5 !important;
    color: #fff !important;
}

.btn-white-border {
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

.btn-white-border:hover {
    background-color: #fff !important;
    color: #3F51B5 !important;
}

p.lead {
    font-size: 1.2em !important;
}

.brand-logo img {
    margin-top: -4px;
    vertical-align: middle;
    height: 0.7em;;
}

h1, h2, h3, h4, h5, h6, .title {
    font-weight: 300 !important;
    font-family: 'Open Sans', sans-serif !important;
}

h6 {
    font-size: 1.2rem;
}

.animated {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.unselectable {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #00838F;
}

.shadow-up {
    -webkit-box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2 {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-6 {
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.hoverable:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* social buttons */
.btn-fb {
    background-color: #3B5998
}

.btn-fb:focus, .btn-fb:hover {
    background-color: #4264aa
}

.btn-gplus {
    background-color: #DD4B39
}

.btn-gplus:focus, .btn-gplus:hover {
    background-color: #e15f4f
}

.btn-tw {
    background-color: #55ACEE
}

.btn-tw:focus, .btn-tw:hover {
    background-color: #6cb7f0
}

.btn-li {
    background-color: #0082CA
}

.btn-li:focus, .btn-li:hover {
    background-color: #0092e4
}

.yt-bg {
    background-color: #CD201F
}

.yt-bg:focus, .yt-bg:hover {
    background-color: #de2827
}

.ins-bg {
    background-color: #3F729B
}

.ins-bg:focus, .ins-bg:hover {
    background-color: #467fad
}

.btn-pin {
    background-color: #C61118
}

.btn-pin:focus, .btn-pin:hover {
    background-color: #dd131b
}

.btn-ins {
    background-color: #3F729B
}

.btn-ins:focus, .btn-ins:hover {
    background-color: #467fad
}

.btn-yt {
    background-color: #CD201F
}

.btn-yt:focus, .btn-yt:hover {
    background-color: #de2827
}

.btn-vk {
    background-color: #4C75A3
}

.btn-vk:focus, .btn-vk:hover {
    background-color: #5882b1
}

.btn-git {
    background-color: #4183C4
}

.btn-git:focus, .btn-git:hover {
    background-color: #5490ca
}

.btn-comm {
    background-color: #30CFC0
}

.btn-comm:focus, .btn-comm:hover {
    background-color: #45d4c6
}

.btn-email {
    background-color: #4B515D
}

.btn-email:focus, .btn-email:hover {
    background-color: #565d6b
}

.relative {
    position: relative !important;
}

.rounded {
    border-radius: 3px !important;
}

.white-toast {
    color: #000;
    background-color: #fff;
    border: 0.5px solid #3F51B5;
}

input:not(:focus) + label:after, textarea:not(:focus) + label:after, select:not(:focus) + label:after {
    top: 32px !important;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none !important;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.btn-dribbble {
    background-color: #C32361
}

.btn-dribbble:focus, .btn-dribbble:hover {
    background-color: #d8276c
}

.dropdown-button {

    text-align: right;
}

#dropdown-user > li {
    text-align: center;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover !important;
}

.avatar-sm {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover !important;
}

.perror {
    margin-top: -15px;
    left: 20px !important;
    color: #F44336 !important;
    position: absolute !important;
    font-size: 0.8rem !important;
}

.select-wrapper .perror {
    margin-top: 64px !important;
    left: 0 !important;
}

.fa {
    margin: 0 2pt !important;
}

.geoposition-search label.perror.active {

    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}

.geoposition-widget .perror {
    top: 102%;
    left: 0 !important;
}

.jFiler.jFiler-theme-default .perror {
    margin-top: 35px !important;
    left: 0 !important;
}

.card .card-content p.perror {
    top: -20px !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
}

.border {
    border: 3px solid #e0e0e0 !important;
}

.border-sm {
    border: 1px solid #e0e0e0 !important;
}

.b-l {
    border-left: 1px solid #e0e0e0;
}

.b-r {
    border-right: 1px solid #e0e0e0;
}

.b-t {
    border-top: 1px solid #e0e0e0;
}

.b-b {
    border-bottom: 1px solid #e0e0e0;
}

.btn-block {
    width: 100%;
}

.p-xs {
    padding: 5px !important;
}

.p-sm {
    padding: 10px !important;
}

.p-md {
    padding: 15px !important;
}

.p-lg {
    padding: 20px !important;
}

.p-xl {
    padding: 30px !important;
}

.p-xxl {
    padding: 40px !important;
}

.p-tb-lg {
    padding: 20px 0 !important;
}

.m-t-none {
    margin-top: 0 !important;
}

.m-b-none {
    margin-bottom: 0 !important;
}

.m-t-xs {
    margin-top: 5px !important;
}

.m-t-sm {
    margin-top: 10px !important;
}

.m-t-md {
    margin-top: 15px !important;
}

.m-t-lg {
    margin-top: 20px !important;
}

.m-t-xl {
    margin-top: 30px !important;
}

.m-t-xxl {
    margin-top: 40px !important;
}

.m-b-md {
    margin-bottom: 20px !important;
}

.input-field input[type=search]:focus {
    background-color: transparent;
}

.white-input, .white-input > .select-dropdown {
    background: #fff !important;
    border-radius: 3px !important;
    padding: 27px 15px !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-bottom: none !important;
    color: #000 !important;
}

.white-input > .select-dropdown {
    color: #616161 !important;
}

footer.white-text * {
    color: #fff !important;
}

.white-input:focus {
    border: none !important;
}

.select-wrapper.white-input {
    padding: 0 !important;
}

.btn, .btn-flat {
    height: 42px;
    line-height: 42px;
}

.select-wrapper.white-input > .caret {
    z-index: 1;
    top: 2em;
    right: 10px;
}

.dropdown-content.select-dropdown {
    padding: 0 !important;
}

.dropdown-content li {
    min-height: 2em;
}

#icon-location {
    position: absolute;
    right: 10px;
    top: 0.4em;
    font-size: 1.5em;
}

.parallax-container {
    min-height: 250px;
    height: auto;
    z-index: 0;
}

.black-filter {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.input-field label {
    left: 0;
}

.btn-social-icon.btn-lg > :first-child {
    left: -2px;
}

.special-font {
    font-family: 'Grand Hotel', cursive !important;
}

.resultados-negocios .negocio-card {
    min-height: 335px;
}

.justify {
    text-align: justify !important;
}

.row-flow {
    display: table;
}

.row-flow .col {
    display: table-cell;
    float: none;
}

.negocio-card .card-title {
    background: rgba(0, 0, 0, 0.8);
    padding: 8px 20px !important;
    /* text-align: center; */
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #00838F;
}

.link {
    text-decoration: underline !important;
}

.bold {
    font-weight: 700 !important;
}

.comentario-texto {
    font-size: 14px;
}

.comentario-fecha {
    font-size: 12px;
    line-height: 22pt;
}

.inline {
    display: inline-block !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #00838F;
    -webkit-box-shadow: 0 1px 0 0 #00838F;
    box-shadow: 0 1px 0 0 #00838F;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #00838F;
}

[type="checkbox"]:checked + label:before {
    border-right-color: #00838F;
    border-bottom-color: #00838F;
}

.btn-social-icon:not(.btn-lg) > :first-child {
    font-size: 1.4em !important;
}

.collection a.collection-item {
    color: #00838F;
}

.btn {
    background-color: #00ACC1;
}

.no-padding {
    padding: 0 !important;
}

.no-margins {
    margin: 0 !important;
}

.no-top-margins {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

input:not([type]).invalid, input:not([type]):focus.invalid, input[type=text].invalid, input[type=text]:focus.invalid, input[type=password].invalid, input[type=password]:focus.invalid, input[type=email].invalid, input[type=email]:focus.invalid, input[type=url].invalid, input[type=url]:focus.invalid, input[type=time].invalid, input[type=time]:focus.invalid, input[type=date].invalid, input[type=date]:focus.invalid, input[type=datetime].invalid, input[type=datetime]:focus.invalid, input[type=datetime-local].invalid, input[type=datetime-local]:focus.invalid, input[type=tel].invalid, input[type=tel]:focus.invalid, input[type=number].invalid, input[type=number]:focus.invalid, input[type=search].invalid, input[type=search]:focus.invalid, textarea.materialize-textarea.invalid, textarea.materialize-textarea:focus.invalid {
    border-color: #F44336 !important;
    -webkit-box-shadow: 0 1px 0 0 #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

p.error {
    font-size: 10pt;
}

.jFiler-theme-default .jFiler-input {
    height: 3em !important;
}

.jFiler-theme-default .jFiler-input-caption {
    padding-top: 0.6em !important;
}

.jFiler-theme-default .jFiler-input-button {
    padding-top: 0.6em !important;
    background: #3F51B5 none !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    color: #fff !important;
}

.text-error {
    color: #e53935 !important;
}

nav.nav-breadcrumbs {
    height: 3em;
    line-height: 3em;
}

nav.nav-breadcrumbs .breadcrumb {
    font-size: inherit;
}

.collection a.collection-item:not(.active):hover {
    background-color: #eeeeee;
}

.no-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.breadcrumb.black-text:before {
    color: #000 !important;
}

.center-align {
    text-align: center !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #00838F;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #00838F;
}

.pointer {
    cursor: pointer !important;
}

.chip-categoria > .chip {
    border: 3px solid #3F51B5;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: #000;
    background-color: #FAFAFA;
}

::-webkit-input-placeholder {
    color: #9E9E9E;
}

:-moz-placeholder { /* Firefox 18- */
    color: #9E9E9E;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #9E9E9E;
}

:-ms-input-placeholder {
    color: #9E9E9E;
}

.geoposition-search {
    width: 100% !important;
}

.input-field input[type=search] {
    width: 100%;
    padding-left: 0;
}

.material-icons {
    line-height: inherit;
    font-size: inherit;
    vertical-align: bottom;
    margin: 0 2pt;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    margin-top: -20px !important
}

footer li {
    margin-bottom: 0.5em;
}

input {
    margin-bottom: 15px !important;
}

textarea {
    margin-bottom: 10px !important;
}

.jFiler-theme-default .jFiler-input {
    margin-bottom: 20px !important;
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb {
    width: auto !important;
}

.jFiler-items-grid .jFiler-item .jFiler-item-container {
    margin: 0 !important;
}

input:not([type]).invalid + label:after, input:not([type]):focus.invalid + label:after, input[type=text].invalid + label:after, input[type=text]:focus.invalid + label:after, input[type=password].invalid + label:after, input[type=password]:focus.invalid + label:after, input[type=email].invalid + label:after, input[type=email]:focus.invalid + label:after, input[type=url].invalid + label:after, input[type=url]:focus.invalid + label:after, input[type=time].invalid + label:after, input[type=time]:focus.invalid + label:after, input[type=date].invalid + label:after, input[type=date]:focus.invalid + label:after, input[type=datetime].invalid + label:after, input[type=datetime]:focus.invalid + label:after, input[type=datetime-local].invalid + label:after, input[type=datetime-local]:focus.invalid + label:after, input[type=tel].invalid + label:after, input[type=tel]:focus.invalid + label:after, input[type=number].invalid + label:after, input[type=number]:focus.invalid + label:after, input[type=search].invalid + label:after, input[type=search]:focus.invalid + label:after, textarea.materialize-textarea.invalid + label:after, textarea.materialize-textarea:focus.invalid + label:after {
    margin-top: 6px;
    font-size: 10pt !important;
}

textarea.materialize-textarea.invalid + label:after, textarea.materialize-textarea:focus.invalid + label:after {
    margin-top: 16px;
}

@media all and (max-width: 480px) {
    input, textarea {
        margin: 0 !important;
    }
}