.primary {
    background-color: #00ACC1 !important;
}

.primary-text {
    color: #00ACC1 !important;
}

.accent {
    background-color: #3F51B5 !important;
}

.accent-text {
    color: #3F51B5 !important;
}

.action {
    background-color: #E91E63 !important;
}

.action-text {
    color: #E91E63 !important;
}

.secondary {
    background-color: #795548 !important;
}

.secondary-text {
    color: #795548 !important;
}

.rank {
    background-color: #FFC107 !important;
}

.rank-text {
    color: #FFC107 !important;
}