@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.stars-container {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 22px;
    height: 25px;
    width: 100px;
    position: relative;
    padding: 0;
    /* text-shadow: 0px 1px 0 #a2a2a2; */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: default;
}

.stars-top {
    color: #f5bd23;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.stars-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}